@import url(https://fonts.googleapis.com/css?family=Lato:700);

body {
	background: #32323a;
	color: #606163;
	font-family: 'Lato', sans-serif;}
.reciept {
	background: url('../images/paper.png');
	width: 829px;
	height: 514px;
	 position: absolute;
    left: 20%;
    top: 20%;}
.reciept a {color:#666;}
#logo {
	width: 85px;
	height: 66px;
	margin-top: -15px;}
.starts {padding: 9%;}
.caps {text-transform: uppercase;}
.red {color: #c3242a;}
.bold {font-weight: bold;}
.starts  header {display: flex;}
.starts  header  img,.starts  header  h3, .starts  header  table {
	padding-left: 12%;
    padding-right: 10%;
    margin-top: 0;
    text-align: center;
    font-family: arial; }
.black {color:#221e1f;}
.right {float: right}
.receipt-content  p {border-bottom: 1px solid #d6d6d6}
.starts table {
	border-collapse: collapse;
	margin: 3%;}
 .starts  .receipt-content  p  {font-weight: 500;font-size: 13px;}
.starts  header  img {padding-left: 0;}

.receipt-edit{
	position: absolute;
    left: 62.8%;
    top: 77%;
}
.receipt-edit button {
	padding: 9px 5px 9px 5px;
    color: #fff;
    border: none;
    width: 116px;
	cursor:pointer;
}
.receipt-edit button:first-child{background:#fcb322 ;}
.receipt-edit button:last-child{background: #1fb5ad;}

.reciept  input {
	 width:92px !important;
	background:none;
	outline:none;
	border:none;
	color:#221e1f;
	font-size:16px;
	font-weight:bold;	
}
.receipt-content input {
	min-width:57%;
	text-transform:uppercase;
	margin-left:5px;}
.reciept .right input {width:72px;}
 .reciept #barcode {
	     width: 109px;
    height: 109px;
 }
 .reciept .sign-area  p {
	 border-bottom:none;
	 display:inline-block;
	 font-size:9px;
	 margin: 0 0% 0 10%}
 .reciept .sign-area  p:last-child{font-size:14px;border-top:1px solid #d6d6d6}
 
 #mode-of-pay   {min-width:174px; color: #5c5d5f;}
 #transaction   {min-width:112px}
 #trans-date   {min-width:83px}
 #card {min-width:26%}
 #branch {min-width:20%}
 .reciept table tbody tr td:last-child {border-bottom: 1px solid #d6d6d6;}
 
 .reciept .receipt-content p:nth-child(-n+3) input {min-width:74%}
 

