<div class="wraper container-fluid">

    <div class="row">
        <div class="col-lg-12">

            <div class="portlet"><!-- primary heading -->
                <div class="portlet-heading bg-danger">
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion1" data-target="#portlet2"><i class="ion-minus-round"></i></a>
                    </div>
                    <h3 class="portlet-title">
                        Overdue Tasks
                    </h3>
                    <div class="portlet-count">
                        {{overdueTasksCount}}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="portlet2" class="panel-collapse collapse in">
                    <div class="table-responsive">
                        <table class="table dataTable" role="grid">
                            <thead>
                            <tr>
                                <th>Property ID</th>
                                <th>Property Name</th>
                                <th>Location</th>
                                <th>Tenant Name</th>
                                <th>Contact No.</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="obj in collections">
                                <td>{{obj.propertyId}}</td>
                                <td>{{obj.propertyName}}</td>
                                <td><i class="icon-location"></i>{{obj.adrs}}</td>
                                <td>{{obj.tname}}</td>
                                <td>{{obj.contact}}</td>
                                <td>{{obj.formatedDate}}</td>
                                <td>{{obj.status}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div> <!-- end col -->
    </div> <!-- End row -->
</div>