
<div class="row">
    <h1>Hello {{ dashboard.username }}</h1>
    Welcome to the secret page. <br>
    Your access_token is {{ dashboard.access_token }}
    <br/>
    Session  access_token is {{ st}}
</div>
