<h1>Login</h1>

<p>Please fill out the following fields to login:</p>
<style>
    /*#logindiv{
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1031;
        background-color: #d3d3d3;

    }
    #logindiv .col-lg-5{
        left: 35%;
        top: 35%;
    }*/
</style>
<div class="row" id="logindiv">
    <div class="col-lg-5">
        <form ng-submit="login()" name="loginForm" id="login-form" method="post" role="form" >
            <div ng-class="{ 'has-success': !error['username'] && submitted,
                'has-error': error['username'] && submitted }"
                 class="form-group field-loginform-username required">
                <label class="control-label" for="loginform-username">Username</label>
                <input ng-model="userModel.username" type="text" id="loginform-username" class="form-control">
                <p class="help-block help-block-error">{{ error['username'] }}</p>
            </div>

            <div ng-class="{ 'has-success': !error['password'] && submitted,
                'has-error': error['password'] && submitted }"
                 class="form-group field-loginform-password required">
                <label class="control-label" for="loginform-password">Password</label>
                <input ng-model="userModel.password" type="password" id="loginform-password" class="form-control">
                <p class="help-block help-block-error">{{ error['password'] }}</p>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="login-button">Login</button>
            </div>

        </form>
    </div>
</div>
