<div class="portlet" id="todo-container"><!-- /primary heading -->
    <div class="portlet-heading bg-black">
        <div class="portlet-widgets">
            <a data-toggle="collapse" data-parent="#accordion1" data-target="#portlet-5" class="" aria-expanded="true">
                <i class="ion-minus-round"></i>
            </a>
        </div>
        <h3 class="portlet-title ">
            To do list
        </h3>
        <div class="clearfix"></div>
    </div>
    <div id="portlet-5" class="panel-collapse collapse in">

        <style>
            .strike-through{
                text-decoration: line-through;
                opacity: 0.7;
            }
        </style>

        <div class="todoapp">
            <div class="row">
                <form name="todo-form" id="todo-form" role="form" class="m-t-5">
                    <div class="col-sm-9 todo-inputbar">
                        <input id="todo-input-text" name="todo-input-text" class="form-control" placeholder="Add a new task here" type="text">
                    </div>
                    <div class="col-sm-3 todo-send">
                        <button class="btn-success btn-block btn" ng-click="addToDo()" type="button" id="todo-btn-submit">
                            <i class="ion-plus-round"></i>
                        </button>
                    </div>
                </form>
            </div>
            <li style="display: none" class="list-group-item" id="liproto">
                <input  ng-click="tickToDo($event)" class="todo-done"  type="checkbox">
                <span class="todo-text"></span>
            </li>

            <ul class="list-group no-margn nicescroll todo-list" id="todo-list">

            </ul>

        </div>
    </div>
</div>

