<div class="wraper container-fluid collection-pay-style collect-home">
<div class="row">
<div class="col-lg-12 collect-details">
    <div class="portlet">
        <p id="cap">Collection &amp; payments</p>
        <!-- Date Picker-->
        <div class="range-pciker dropdown">
            <input aria-expanded="false" data-ng-model="dateRangeDisplay" id="fulldate" name="date" data-toggle="dropdown" placeholder="Select Date" type="text">
            <div class="dropdown-menu">
                <input id="datepicker" datepickerjui data-ng-model="from_date" class="range " type="text">&nbsp;&nbsp;-
                <input id="datepicker2" datepickerjui data-ng-model="to_date" class="range " type="text">
                <button type="button" data-ng-click="dateRangeChange()" id="apply"> Apply </button>
                <button type="button"  data-ng-click="dateRangeCancel()"  id="cancel"> cancel </button>
            </div>
        </div>
        <!-- End of Date Picker-->
        <!-- primary heading -->
        <div class="table-responsive collection">
            <table class="table dataTable" role="grid">
                <thead>
                <tr>
                    <th>Property ID</th>
                    <th>Property Name</th>
                    <th>Location</th>
                    <th>Tenant Name</th>
                    <th>Date</th>
                    <th class="dropdown type">
                        <a href="" data-toggle="dropdown" class="dropdown-toggle">Type</a>
                        <ul class="dropdown-menu">
                            <li><a href="" data-ng-click="typeSelectChange('All')"> All Collections</a></li>
                            <li><a href="" data-ng-click="typeSelectChange('Rent')"> Rent</a></li>
                            <li><a href="" data-ng-click="typeSelectChange('Maintainance Fee')"> Maintainance Fee</a></li>
                            <li><a href="" data-ng-click="typeSelectChange('Electricity Bill')"> Electricity Bill</a></li>
                            <li><a href="" data-ng-click="typeSelectChange('Water Bill')"> Water Bill</a></li>
                            <li><a href="" data-ng-click="typeSelectChange('Property Tax')"> Property Tax</a></li>
                            <li><a href="" data-ng-click="typeSelectChange('Other Bills')" > Other Bills</a></li>

                        </ul>
                    </th>
                    <th class="dropdown status">
                        <a href="" data-toggle="dropdown" class="dropdown-toggle">Status  </a>
                        <ul class="dropdown-menu">
                            <li><a href="" data-ng-click="statusSelectChange('All')">View all</a></li>
                            <li><a href="" data-ng-click="statusSelectChange('Collection')">Collection</a></li>
                            <li><a href="" data-ng-click="statusSelectChange('Payment')">Payment</a></li>
                        </ul>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="ot in collections">
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.puname}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.pname}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.locality}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.tname}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.formatedDate}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.type}}</td>
                    <td  style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
                        <p data-ng-show="ot.actstat!='Deposit Challan' && ot.actstat!='Bill & Payslip'" data-ng-click="collectNowClick(ot.id,$event,ot.actstat)"  class="coll-now">Collect </p>
                        <p data-ng-click="payBillSlipClick(ot.id,$event,ot.actstat,ot.collectionAmount)"  class="depo-now bill-challan">Bill & PaySlip </p>
                    </td>


                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-lg-12 collect-details" style="margin-top: 3%;">
    <div class="portlet">
        <p id="cap">Paid details</p>
        <!-- primary heading -->
        <div class="table-responsive collection">
            <table class="table dataTable" role="grid">
                <thead>
                <tr>
                    <th>Property ID</th>
                    <th>Property Name</th>
                    <th>Location</th>
                    <th>Tenant Name</th>
                    <th>Date</th>
                    <th class="dropdown type">
                        <a href="" data-toggle="dropdown" class="dropdown-toggle">Type</a>
                        <ul class="dropdown-menu">
                            <li><a href="" data-ng-click="paidTypeSelectChange('All')"> All Collections</a></li>
                            <li><a href="" data-ng-click="paidTypeSelectChange('Rent')"> Rent</a></li>
                            <li><a href="" data-ng-click="paidTypeSelectChange('Maintainance Fee')"> Maintainance Fee</a></li>
                            <li><a href="" data-ng-click="paidTypeSelectChange('Electricity Bill')"> Electricity Bill</a></li>
                            <li><a href="" data-ng-click="paidTypeSelectChange('Water Bill')"> Water Bill</a></li>
                            <li><a href="" data-ng-click="paidTypeSelectChange('Property Tax')"> Property Tax</a></li>
                            <li><a href="" data-ng-click="paidTypeSelectChange('Other Bills')"> Other Bills</a></li>

                        </ul>
                    </th>
                    <th class="dropdown status">
                        <a href="" data-toggle="dropdown" class="dropdown-toggle">Status</a>
                        <ul class="dropdown-menu">
                            <li><a href="" data-ng-click="paidStatusSelectChange('All')">View all</a></li>
                            <li><a href="" data-ng-click="paidStatusSelectChange('Collection')">Collection</a></li>
                            <li><a href="" data-ng-click="paidStatusSelectChange('Payment')">Payment</a></li>
                        </ul>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="ot in paidCollections">
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.puname}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.pname}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.locality}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.tname}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.formatedDate}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.type}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
                        <a class="view renting" href="executive/executive-activity-details-pdf?id={{ot.id}}&pTkn={{pdfSessionToken}}">View Details </a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div class="form-starts form check-form">
<form>
<!-- All Form -->
<!-- Form Selection-->
<div  ng-show="xaxnModeSelect" class="form-select">
    <p class="caps" id="cash" data-ng-click="xaxnMode('cash',$event)">Cash </p>
    <p class="caps" id="check" data-ng-click="xaxnMode('check',$event)"> Cheque/dd</p>
    <p class="caps" id="online" data-ng-click="xaxnMode('online',$event)"> online</p>
    <p class="caps" id="card-pay" data-ng-click="xaxnMode('card',$event)"> card</p>
</div>
<!-- Payment Method Form -->
<!--Cash Payment -->
<div ng-show="cashPaymentForm" id="cashFormReceipt" class="form cash check-form">
    <div class="form-content">
        <header class="caps">
            <p>  cash Payment <i class="ion-ios-close-empty right" data-ng-click="cashPaymentForm=false"> </i> </p>
        </header>
        <div class="form-body">
            <div class="form-body-content  ">
                <input placeholder="Amount" type="text" ng-model="cashAmount">
                <input placeholder="date" datepickerjui ng-model="cashDate" type="text">
                <button type="button"  ng-click="collectCash()" class="submiting caps" onclick1="location.href='reciept-cash.html';"> preview receipt</button>
            </div>
        </div>
    </div>
</div>
<!--Cheque/DD Payment -->
<div ng-show="checkPaymentForm" id="checkFormReceipt" class="form check check-form">
    <div class="form-content">
        <header class="caps">
            <p>  Cheque/dd Payment <i class="ion-ios-close-empty right" data-ng-click="checkPaymentForm=false"> </i> </p>
        </header>
        <div class="form-body">
            <div class="form-body-content  ">
                <input placeholder="Cheque/dd no." ng-model="cheque_no" type="text">
                <input placeholder="Cheque date"  ng-model="cheque_date" datepickerjui type="text">
                <input placeholder="Amount" ng-model="cheque_amount" type="text">
                <input placeholder="Branch" ng-model="cheque_branch" type="text">
                <input placeholder="Bank" ng-model="cheque_bank" type="text">
                <button type="button" data-ng-click="collectCheque()" class="submiting caps" onclick1="location.href='reciept-cheque.html';"> preview receipt</button>
            </div>
        </div>
    </div>
</div>
<!--Online Payment -->
<div ng-show="onlinePaymentForm" id="onlineFormReceipt"  class="form online check-form">
    <div class="form-content">
        <header class="caps">
            <p>  online Payment <i class="ion-ios-close-empty right" data-ng-click="onlinePaymentForm=false"> </i> </p>
        </header>
        <div class="form-body">
            <div class="form-body-content">
                <input placeholder="Transaction No." data-ng-model="onlineXaxnNo" type="text">
                <input placeholder="date"  data-ng-model="onlineXaxndate" datepickerjui type="text">
                <input placeholder="amount" data-ng-model="onlineXaxnAmount" type="text">
                <input placeholder="bank" data-ng-model="onlineXaxnBank" type="text">
                <button type="button" data-ng-click="onlineXanxSubmit()" class="submiting caps" onclick1="location.href='reciept.html';"> preview receipt</button>
            </div>
        </div>
    </div>
</div>
<!--card Payment -->
<div ng-show="cardPaymentForm"  id="cardFormReceipt" class="form card-pay check-form">
    <div class="form-content">
        <header class="caps">
            <p>  card Payment <i class="ion-ios-close-empty right"  data-ng-click="cardPaymentForm=false"> </i> </p>
        </header>
        <div class="form-body">
            <div class="form-body-content">
                <input name="radio-group"   data-ng-model="cardDebit" data-ng-checked="cardDebit"  id="debit-choice" value="Debit" type="radio">
                <label for="debit-choice">DEBIT</label>
                <input name="radio-group" data-ng-model="cardCredit" data-ng-checked="cardCredit" id="credit-choice" value="Credit" type="radio">
                <label for="credit-choice">CREDIT</label>
                <input placeholder="Transaction No." data-ng-model="txn_no" type="text">
                <input placeholder="Bank" data-ng-model="cardBank" type="text">
                <input placeholder="date" data-ng-model="cardDate" datepickerjui type="text">
                <input placeholder="amount" data-ng-model="cardAmount" type="text">
                <button type="button" data-ng-click="cardXanxSubmit()" class="submiting caps" onclick1="location.href='reciept-card.html';"> preview receipt</button>
            </div>
        </div>
    </div>
</div>
<!-- Upload Form Starts-->
<!--Rent Deposit Challan Upload  -->
<div ng-show="depositUploadForm" id="depositFormUpload"   class=" form rent upload-form check-form">
    <div class="form-content">
        <header class="caps">
            <p>Rent Deposit Challan Upload <i class="ion-ios-close-empty right" data-ng-click="depositUploadForm=false"> </i> </p>
        </header>
        <div class="form-body">
            <div class="form-body-content">
                <input file-model="depositChallanFile" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" id="filestyle-0" class="filestyle" data-classbutton="btn btn-primary" data-input="false" data-classicon="icon-plus" data-buttontext=" Deposit Challan Upload" type="file"><div class="bootstrap-filestyle input-group"><span tabindex="0" class="group-span-filestyle "><label for="filestyle-0" class="btn btn-default "><span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> <span class="buttonText"> Deposit Challan Upload</span></label></span></div>
                <div class="pro-bar-container color-green-sea">
                    <div style="width:{{uploadProgressValue}}%; overflow: hidden;" class="pro-bar bar-100 color-turquoise animated" data-pro-bar-percent="{{uploadProgressValue}}">
                        <span id="progressing">{{uploadProgressValue}} % </span>
                        <div class="pro-bar-candy candy-ltr"></div>
                    </div>
                </div>
                <button type="button" data-ng-click="depositChallanUpload()" class="submiting caps"> Submit</button>
            </div>
        </div>
    </div>
</div>
<!--Bill and Payslip Upload  -->
<div ng-show="billUploadForm" id="billUploadForm" class="form bill upload-form check-form">
    <div class="form-content">
        <header class="caps">
            <p>Bill and Payslip Upload <i  data-ng-click="billUploadForm=false" class="ion-ios-close-empty right"> </i> </p>
        </header>
        <div class="form-body bill-pay">
            <div class="form-body-content">
                <input class="ng-pristine ng-valid" placeholder="Bill Amount" ng-model="billAmount" type="text">
                <input class="ng-pristine ng-valid" placeholder="Paid Amount" ng-model="paidAmount" type="text">
                <label>Paid By:</label>
                <label><input type="radio" data-ng-model="paidPerson" value="Owner" />Owner</label>
                <label><input type="radio" data-ng-model="paidPerson" value="Tenant" />Tenant</label>
                <span id="bill-up"><input  file-model="billUploadFiles" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" id="filestyle-1" class="filestyle deposit billing caps" data-classbutton="btn btn-primary" data-input="false" data-classicon="icon-plus" data-buttontext=" Bill Upload" type="file"><div class="bootstrap-filestyle input-group"><span tabindex="0" class="group-span-filestyle "><label for="filestyle-1" class="btn btn-default "><span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> <span class="buttonText"> Bill Upload</span></label></span></div></span>

                <span id="slip-up"><input  file-model="slipUploadFiles"  tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" id="filestyle-2" class="filestyle deposit billing caps" data-classbutton="btn btn-primary" data-input="false" data-classicon="icon-plus" data-buttontext=" Pay slip Upload" type="file"><div class="bootstrap-filestyle input-group"><span tabindex="0" class="group-span-filestyle "><label for="filestyle-2" class="btn btn-default "><span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> <span class="buttonText"> Pay slip Upload</span></label></span></div></span>
                <div class="pro-bar-container color-green-sea">
                    <div style="width: {{billUploadProgressValue}}%; overflow: hidden;" class="pro-bar bar-100 color-turquoise animated" data-pro-bar-percent="68">
                        <span id="progressing">{{billUploadProgressValue}}% </span>
                        <div class="pro-bar-candy candy-ltr"></div>
                    </div>
                </div>
                <button type="button" data-ng-click="billSlipSubmit()" class="submiting caps"> Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- Upload Form Starts-->
<!-- View Details form Section -->
<!--Rent Details View -->
<div class="rent-details  rent-me card" id="view-toggle-rent">
    <div class="form-content">
        <header class="caps">
            <p>Rent Details View <i class="ion-ios-close-empty right"> </i> </p>
        </header>
        <div class="form-body">
            <div class="form-body-content">
                <button type="button" class="submiting caps" onclick="location.href='reciept.html';"> View rent collection receipt</button>
                <button type="button" class="submiting caps" onclick="location.href='sample.pdf';"> View deposit challan</button>
                <hr>
                <div class="pdf-section">
                    <p>
                        Please click on the link of your choice to download / view the PDF file.
                        You can download and save a PDF file on your computer.
                        That way you don't have to connect to the Internet every time you want to see the bills and receipts.
                    </p>
                    <p>
                        If the PDF file doesn't open…
                        ...it could be because you need to install Adobe Acrobat Reader.
                        It's free. Just click on the icon below
                    </p>
                    <img src="images/pdf-logo.png">
                    <p>
                        Adobe PDF Reader (Don't worry; it's a quick process and won't hurt your computer!)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rent-details  maintanance-fee card" id="view-toggle-rent">
    <div class="form-content">
        <header class="caps">
            <p>Maintainance fee Details View <i class="ion-ios-close-empty right"> </i> </p>
        </header>
        <div class="form-body">
            <div class="form-body-content">
                <button type="button" class="submiting caps" onclick="location.href='reciept-main-online.html';"> View Maintainance fee collection receipt</button>
                <button type="button" class="submiting caps" onclick="location.href='sample.pdf';"> View deposit challan</button>
                <hr>
                <div class="pdf-section">
                    <p>
                        Please click on the link of your choice to download / view the PDF file.
                        You can download and save a PDF file on your computer.
                        That way you don't have to connect to the Internet every time you want to see the bills and receipts.
                    </p>
                    <p>
                        If the PDF file doesn't open…
                        ...it could be because you need to install Adobe Acrobat Reader.
                        It's free. Just click on the icon below
                    </p>
                    <img src="images/pdf-logo.png">
                    <p>
                        Adobe PDF Reader (Don't worry; it's a quick process and won't hurt your computer!)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Rent Details View -->
<div class="rent-details   card" id="view-toggle-rent">
    <div class="form-content">
        <header class="caps">
            <p>Electricity Bill Details View <i class="ion-ios-close-empty right"> </i> </p>
        </header>
        <div class="form-body">
            <div class="form-body-content">
                <button type="button" class="submiting caps" onclick="location.href='reciept-electric-online.html';"> View Electricity Bill collection receipt</button>
                <button type="button" class="submiting caps" onclick="location.href='sample.pdf';"> View deposit challan</button>
                <hr>
                <div class="pdf-section">
                    <p>
                        Please click on the link of your choice to download / view the PDF file.
                        You can download and save a PDF file on your computer.
                        That way you don't have to connect to the Internet every time you want to see the bills and receipts.
                    </p>
                    <p>
                        If the PDF file doesn't open…
                        ...it could be because you need to install Adobe Acrobat Reader.
                        It's free. Just click on the icon below
                    </p>
                    <img src="images/pdf-logo.png">
                    <p>
                        Adobe PDF Reader (Don't worry; it's a quick process and won't hurt your computer!)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rent-details  card" id="view-toggle-rent">
    <div class="form-content">
        <header class="caps">
            <p>Water Bill Details View <i class="ion-ios-close-empty right"> </i> </p>
        </header>
        <div class="form-body">
            <div class="form-body-content">
                <button type="button" class="submiting caps" onclick="location.href='reciept-water-online.html';"> View Water Bill collection receipt</button>
                <button type="button" class="submiting caps" onclick="location.href='sample.pdf';"> View deposit challan</button>
                <hr>
                <div class="pdf-section">
                    <p>
                        Please click on the link of your choice to download / view the PDF file.
                        You can download and save a PDF file on your computer.
                        That way you don't have to connect to the Internet every time you want to see the bills and receipts.
                    </p>
                    <p>
                        If the PDF file doesn't open…
                        ...it could be because you need to install Adobe Acrobat Reader.
                        It's free. Just click on the icon below
                    </p>
                    <img src="images/pdf-logo.png">
                    <p>
                        Adobe PDF Reader (Don't worry; it's a quick process and won't hurt your computer!)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rent-details  property card" id="view-toggle-rent">
    <div class="form-content">
        <header class="caps">
            <p>Property Tax Details View <i class="ion-ios-close-empty right"> </i> </p>
        </header>
        <div class="form-body">
            <div class="form-body-content">
                <button type="button" class="submiting caps" onclick="location.href='reciept-property-online.html';"> View Property Tax collection receipt</button>
                <button type="button" class="submiting caps" onclick="location.href='sample.pdf'"> View deposit challan</button>
                <hr>
                <div class="pdf-section">
                    <p>
                        Please click on the link of your choice to download / view the PDF file.
                        You can download and save a PDF file on your computer.
                        That way you don't have to connect to the Internet every time you want to see the bills and receipts.
                    </p>
                    <p>
                        If the PDF file doesn't open…
                        ...it could be because you need to install Adobe Acrobat Reader.
                        It's free. Just click on the icon below
                    </p>
                    <img src="images/pdf-logo.png">
                    <p>
                        Adobe PDF Reader (Don't worry; it's a quick process and won't hurt your computer!)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Bill Details View -->
<div class="bill-details   electricity-bill  card" id="view-toggle-bill">
    <div class="rent-details">
        <div class="form-content">
            <header class="caps">
                <p>Bill &amp; slip  Details View <i class="ion-ios-close-empty right"> </i> </p>
            </header>
            <div class="form-body">
                <div class="form-body-content">
                    <button type="button" class="submiting caps" onclick="location.href='sample.pdf';"> View Electricity bill</button>
                    <button type="button" class="submiting caps" onclick="location.href='reciept-electric-online.html';"> View collection receipt</button>
                    <button type="button" class="submiting caps" onclick="location.href='sample.pdf';"> View payment slip</button>
                    <hr>
                    <div class="pdf-section">
                        <p>
                            Please click on the link of your choice to download / view the PDF file.
                            You can download and save a PDF file on your computer.
                            That way you don't have to connect to the Internet every time you want to see the bills and receipts.
                        </p>
                        <p>
                            If the PDF file doesn't open…
                            ...it could be because you need to install Adobe Acrobat Reader.
                            It's free. Just click on the icon below
                        </p>
                        <img src="images/pdf-logo.png">
                        <p>
                            Adobe PDF Reader (Don't worry; it's a quick process and won't hurt your computer!)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bill-details  water-bill  card" id="view-toggle-bill">
    <div class="rent-details">
        <div class="form-content">
            <header class="caps">
                <p>Bill &amp; slip  Details View <i class="ion-ios-close-empty right"> </i> </p>
            </header>
            <div class="form-body">
                <div class="form-body-content">
                    <button type="button" class="submiting caps" onclick="location.href='sample.pdf';"> View Water bill</button>
                    <button type="button" class="submiting caps" onclick="location.href='reciept-water-online.html';"> View collection receipt</button>
                    <button type="button" class="submiting caps" onclick="location.href='sample.pdf';"> View payment slip</button>
                    <hr>
                    <div class="pdf-section">
                        <p>
                            Please click on the link of your choice to download / view the PDF file.
                            You can download and save a PDF file on your computer.
                            That way you don't have to connect to the Internet every time you want to see the bills and receipts.
                        </p>
                        <p>
                            If the PDF file doesn't open…
                            ...it could be because you need to install Adobe Acrobat Reader.
                            It's free. Just click on the icon below
                        </p>
                        <img src="images/pdf-logo.png">
                        <p>
                            Adobe PDF Reader (Don't worry; it's a quick process and won't hurt your computer!)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</div>
<!--End of Bill Details View -->
<!--End of View Details Form Section -->
<!-- end col -->
</div>

<!--
<script type="application/javascript" ng-src="partials/executive/allcollections.js"></script>-->
