<div class="wraper container-fluid association-style">
    <div class="chat-box">
        <!--Start of Messages -->
        <div class="subject">
            <!-- Subject -->
            <div class="sub-head">
                <p class="meet-details"> Property ID:<b> #TM36547</b></p>
                <p class="meet-details">  <b>Brigade Cosmopolis, </b> Whitefield </p>
                <p class="meet-details">Attended by: <b>Manju B </b></p>
                <a href="association.html"><i id="close-associate" class="ion-ios-close-empty"> </i></a>
            </div>
            <div class="content">
                <h4 class="red"> <b>Association Meeting </b></h4><b>
                <p> Date: <b>05/01/2016 Tuesday</b> &nbsp;&nbsp; &nbsp;<span>Time:<b> 18:08 </b></span>
                </p><p>Venue: <b>Community Hall, Brigade Cosmopolis, Whitefield, Bangalore </b> </p>
                <div class="meet-summary">
                    <h4 class="red"> <b>Summary of the meeting</b></h4>
                    <p>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, Sed ut imperdiet nisi. Proin condimentum fermentum nunc.
                        Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque.
                        Suspendisse in orci enim.nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    </p>
                    <ul>
                        <li>
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                            Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                        </li>
                        <li>
                            Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                            Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad
                            litora torquent per conubia nostra, per inceptos himenaeos.
                        </li>
                        <li>
                            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit.
                        </li>
                    </ul>
                </div>
                <div class="summary-view">
                    <a class="gallery-feather" data-rel="lightcase:myCollection" href="images/bigger/summary-1.png"><img style=" width: 22vw;" src="images/summary-1.png"></a>
                    <a class="gallery-feather" data-rel="lightcase:myCollection" href="images/bigger/summary-2.png"><img style=" width: 19vw;" src="images/summary-2.png"></a>
                </div>
            </b></div><b>
        </b></div><b>
    </b></div><b>
    <!-- End of Messages -->
</b></div>