<div class="wraper container-fluid association-style">
<div class="row">
    <div class="col-lg-12 paid-details">
        <div class="portlet">
            <p id="cap">Association Meeting </p>

            <!-- Date Picker-->
            <div class="range-pciker dropdown">
                <input aria-expanded="false" id="fulldate" data-ng-model="dateRangeDisplay" name="date" data-toggle="dropdown" placeholder="Select Date" type="text">
                <div class="dropdown-menu">
                    <input id="datepicker" datepickerjui data-ng-model="from_date" class="range " type="text">&nbsp;&nbsp;-
                    <input id="datepicker2" datepickerjui data-ng-model="to_date"  class="range " type="text">
                    <button type="button"  data-ng-click="dateRangeChange()"  id="apply"> Apply </button>
                    <button type="button"  data-ng-click="dateRangeCancel()"  id="cancel"> cancel </button>
                </div>
            </div>
            <!-- End of Date Picker-->
            <!-- primary heading -->
            <div class="table-responsive">
                <table class="table dataTable" role="grid">
                    <thead>
                    <tr>
                        <th>Property ID</th>
                        <th>Property Name</th>
                        <th>Property Type</th>
                        <th>Location</th>
                        <th>Attended By</th>
                        <th>Visiting Date</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="ot in associationMeetingList">
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.puname}}</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.pname}}</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.locality}}</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.tname}}</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.formatedDate}}</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.type}}</td>

                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
                            <p data-ng-click="collectNowClick(ot.id,$event,ot.actstat)" class=" coll-now reply-now report-form">Report Now </p>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end col -->
<!-- Form Starts-->
<form>
    <div data-ng-show="showUploadForm" style=" display: none;" class="association-form">
        <div class="form-content">
            <header class="caps">
                <p>  Association Meeting Report Update <i data-ng-click="showUploadForm=false" class="ion-ios-close-empty right"> </i> </p>
            </header>
            <div class="form-body">
                <div class="form-body-content">
                    <table>
                        <tbody>
                        <tr class="caps">
                            <td width="140px"> Date</td>
                            <td width="84px"> Day</td>
                            <td id="time-input" width="94px"> Time</td>
                        </tr>
                        <tr>
                            <td> </td>
                        </tr>
                        <tr>
                            <td width="140px"><input datepickerjui  on-select="setDayFromDate" data-ng-model="date" id="date-input" placeholder="05/01/2016" type="text"/>   </td>
                            <td width="84px"> <input id="day-input" data-ng-model="day" placeholder="Thursday" type="text">  </td>
                            <td width="94px"> <input id="time-input" data-ng-model="time" placeholder="18:08" type="text">  </td>
                        </tr>
                        <tr class="caps">
                            <td>
                                <h5 class="caps"> Venue</h5>
                            </td>
                        </tr>
                        <tr>
                            <td><input class="venue" data-ng-model="venue" placeholder=" Community Hall, Brigade Cosmopolis, Whitefield, Bangalore" type="text">   </td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="caps"> Summary of the meeting</h5>
                    <div class="summary ">
                        <textarea id="the-textarea"  data-ng-model="summary"  placeholder="Write your summary here">                              </textarea>
                    </div>
                    <div class="buttons ">

                        <span id="bill-up">  <input tabindex="-1"  file-model="billUploadFiles"  style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" id="filestyle-0" class="filestyle deposit billing caps" data-classbutton="btn btn-primary" data-input="false" data-classicon="icon-plus" data-buttontext=" Photo Upload" type="file"><div class="bootstrap-filestyle input-group"><span tabindex="0" class="group-span-filestyle "><label for="filestyle-0" class="btn btn-default "><span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> <span class="buttonText"> Photo Upload</span></label></span></div></span>
                        <span id="slip-up"><input tabindex="-1" file-model="slipUploadFiles" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" id="filestyle-1" class="filestyle deposit billing caps" data-classbutton="btn btn-primary" data-input="false" data-classicon="icon-plus" data-buttontext=" Video Upload" type="file"><div class="bootstrap-filestyle input-group"><span tabindex="0" class="group-span-filestyle "><label for="filestyle-1" class="btn btn-default "><span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> <span class="buttonText"> Video Upload</span></label></span></div></span>
                        <div class="pro-bar-container color-green-sea">
                            <div style="width: {{uploadProgressValue}}%;" class="pro-bar bar-100 color-turquoise animated" data-pro-bar-percent="68"><span id="progressing">{{uploadProgressValue}}% </span>
                                <div class="pro-bar-candy candy-ltr"></div>
                            </div>
                        </div>
                    </div>
                    <button type="button" data-ng-click="save()" class="submiting caps"> Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>