<!DOCTYPE html>
<div class="wraper container-fluid travel-style daily-style">
    <div class="row tenant-width">
        <div class="col-lg-12" style="box-shadow: none;">
            <div class="portlet">
                <!-- primary heading -->
                <p id="cap">Daily Accounting</p>
                <div class="table-responsive">
                    <!-- Date Picker-->
                    <div class="range-pciker dropdown">
                        <input aria-expanded="false" data-ng-model="dateRangeDisplay" id="fulldate" name="date" data-toggle="dropdown" placeholder="Select Date" type="text">
                        <div class="dropdown-menu">
                            <input id="datepicker" datepickerjui data-ng-model="from_date" class="range " type="text">&nbsp;&nbsp;-
                            <input id="datepicker2" datepickerjui data-ng-model="to_date" class="range " type="text">
                            <button type="button" data-ng-click="dateRangeChange()" id="apply"> Apply </button>
                            <button type="button"  data-ng-click="dateRangeCancel()"  id="cancel"> cancel </button>
                        </div>
                    </div>
                    <!-- End of Date Picker-->

                    <!-- table data -->
                    <table class="table dataTable" role="grid">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Property ID</th>
                            <th>Property Name</th>
                            <th>Payment by</th>
                            <th>Type</th>
                            <th>Payment Mode</th>
                            <th>Collection</th>
                            <th>Payment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="obj in entries" >
                            <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{obj.formatedDate}}</td>
                            <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{obj.puname}}</td>
                            <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{obj.pname}}</td>
                            <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{obj.tname}}</td>
                            <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{obj.type}}</td>
                            <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{obj.mode}}</td>
                            <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;"><span class="WebRupee">Rs.</span>{{obj.camount}}</td>
                            <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;"><span class="WebRupee">Rs.</span>{{obj.pamount}}</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td><span class="WebRupee">Rs.</span>{{totCollection}}</td>
                            <td><span class="WebRupee">Rs.</span>{{totPayment}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!-- end col -->
</div>