

        <!-- Page Content Start -->
        <!-- ================== -->
        <section class="charts">
            <div class="row">
                <div class="col-md-15 col-sm-6">
                     <span class="chart chart-collection" data-percent="0">
                        <span class="percent"></span>%
                    </span>
                    <div style="text-align: center;font-size: 10px">Pending Bills: <span class="badge">{{pendingCollection}}</span>  </div>
                    <div class="chart-label">Bills Collection</div>
                </div>
                <div class="col-md-15 col-sm-6">
                    <span class="chart chart-payment" data-percent="0">
                        <span class="percent"></span>%
                    </span>
                    <div style="text-align: center;font-size: 10px">Pending Bills: <span class="badge">{{pendingPayment}}</span>  </div>
                    <div class="chart-label">Bills Payment </div>
                </div>
                <div class="col-md-15 col-sm-6">
                    <span class="chart chart-visit" data-percent="0">
                        <span class="percent"></span>%
                    </span>
                    <div style="text-align: center;font-size: 10px">Pending Visit: <span class="badge">{{pendingVisit}}</span>  </div>
                    <div class="chart-label">Periodic Visits</div>
                </div>
                <div class="col-md-15 col-sm-6">
                    <span class="chart chart-meeting" data-percent="0">
                        <span class="percent"></span>%
                    </span>
                    <div style="text-align: center;font-size: 10px">Pending Meeting: <span class="badge">{{pendingMeeting}}</span>  </div>

                    <div class="chart-label">Associations Meeting</div>
                </div>
                <div class="col-md-15 col-sm-6">
                    <span class="chart chart-service" data-percent="0">
                        <span class="percent"></span>
                    </span>
                    <div class="chart-label">Service Requested</div>
                </div>

            </div>

        </section>
        <div class="wraper container-fluid">

            <div class="row">
                <div class="col-lg-8">

                    <div class="portlet"><!-- primary heading -->
                        <div class="portlet-heading bg-danger">
                            <div class="portlet-widgets">
                                <a data-toggle="collapse" data-parent="#accordion1" data-target="#portlet2"><i class="ion-minus-round"></i></a>
                            </div>
                            <h3 class="portlet-title">
                                Overdue Tasks
                            </h3>
                            <div class="portlet-count">
                                {{overdueTasksCount}}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="portlet2" class="panel-collapse collapse in">
                            <div class="table-responsive">
                                <table class="table dataTable" role="grid">
                                    <thead>
                                    <tr>
                                        <th>Property ID</th>
                                        <th>Location</th>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="ot in overdueTasks">
                                        <td>{{ot.name}}</td>
                                        <td><i class="icon-location"></i>{{ot.lat}}</td>
                                        <td>{{ot.formatedDate}}</td>
                                        <td>{{ot.type}}</td>
                                        <td>C</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="portlet"><!-- primary heading -->
                        <div class="portlet-heading">
                            <div class="portlet-widgets">
                                <a data-toggle="collapse" data-parent="#accordion1" data-target="#portlet3"><i class="ion-minus-round"></i></a>
                            </div>
                            <h3 class="portlet-title text-dark">
                                Collections
                            </h3>
                            <div class="portlet-count text-dark">
                                {{collectionsCount}}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="portlet3" class="panel-collapse collapse in">
                            <div class="table-responsive">
                                <table class="table dataTable" role="grid">
                                    <thead>
                                    <tr>
                                        <th>Property ID</th>
                                        <th>Location</th>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="ot in collections">
                                        <td>{{ot.name}}</td>
                                        <td><i class="icon-location"></i>{{ot.lat}}</td>
                                        <td>{{ot.formatedDate}}</td>
                                        <td>{{ot.type}}</td>
                                        <td>
                                            <span  ng-if="ot.datediff <=1 " class="dot-state text-danger">...</span>
                                            <span  ng-if="ot.datediff  >= 2 " class="dot-state  text-warning">...</span>
                                            <span  ng-if="ot.datediff  >= 3 " class="dot-state  text-success">...</span>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="portlet"><!-- primary heading -->
                        <div class="portlet-heading">
                            <div class="portlet-widgets">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#portlet4"><i class="ion-minus-round"></i></a>
                            </div>
                            <h3 class="portlet-title text-dark">
                                Member Contract Expiry
                            </h3>
                            <div class="portlet-count text-dark">
                                10
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="portlet4" class="panel-collapse collapse">
                            <div class="table-responsive">
                                <table class="table dataTable" role="grid">
                                    <thead>
                                    <tr>
                                        <th>Property ID</th>
                                        <th>Location</th>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>#TM-95321</td>
                                        <td><i class="icon-location"></i>Whitefield</td>
                                        <td>29/08/2015</td>
                                        <td>Maint. fee</td>
                                        <td><span class="dot-state text-danger">...</span></td>
                                    </tr>
                                    <tr>
                                        <td>#TM-95321</td>
                                        <td><i class="icon-location"></i>Whitefield</td>
                                        <td>29/08/2015</td>
                                        <td>Maint. fee</td>
                                        <td><span class="dot-state text-warning">...</span></td>
                                    </tr>
                                    <tr>
                                        <td>#TM-95321</td>
                                        <td><i class="icon-location"></i>Whitefield</td>
                                        <td>29/08/2015</td>
                                        <td>Maint. fee</td>
                                        <td><span class="dot-state text-success">...</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
                <div class="col-lg-4">

                    <!-- TODO -->
                    <div ctodo ></div>

                </div> <!-- end col -->
            </div> <!-- End row -->
        </div>
        <!-- Page Content Ends -->

