<!DOCTYPE html>
<div class="wraper container-fluid members-style">
    <div class="row">
        <div class="col-lg-12 members-first">
            <div class="portlet">
                <!-- primary heading -->
                <div class="table-responsive">
                    <!-- table data -->
                    <p id="cap">Members</p><table class="table dataTable" role="grid">

                    <thead>
                    <tr>
                        <th>Property ID</th>
                        <th>Member Name</th>
                        <th>Property Name</th>
                        <th>Location</th>
                        <th>Service Type</th>
                        <th>Renewal Date</th>
                        <th>Contact No.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="oj in entries">
                        <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255);"><a href="#members-details/{{oj.id}}">{{oj.pid}}</a></td>
                        <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255);"><a href="#members-details/{{oj.id}}">{{oj.name}}</a></td>
                        <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255);"><a href="#members-details/{{oj.id}}">{{oj.pname}}</a></td>
                        <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255);"><a href="#members-details/{{oj.id}}">{{oj.locality}}</a></td>
                        <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255);"><a href="#members-details/{{oj.id}}">{{oj.tos}}</a></td>
                        <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255);"><a href="#members-details/{{oj.id}}">{{oj.date}}</a></td>
                        <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255);"><a href="#members-details/{{oj.id}}">{{oj.contactno}}</a></td>
                    </tr>

                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>