<!DOCTYPE html>

<div class="wraper container-fluid members-style-2">
<div class="members">
<div class="row">
    <p id="cap" style="padding-left: 0%;"> Member Details </p>
    <div class="col-md-2 whiteme box-shadow respo-name ">
        <div class="member-name ">
            <p>{{member_details.fname}} {{member_details.lname}} </p>
            <img src="{{member_details.profile_image}}">
        </div>
    </div>
    <div class="col-md-5 less-padding respo-details">
        <div class="col-md-12 whiteme box-shadow fix-height">
            <div class="portlet">
                <!-- primary heading -->
                <div class="table-responsive">
                    <table class="table dataTable" role="grid">
                        <caption class="black">MEMBER DETAILS</caption>
                        <tbody>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;"> First Name </td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;"><p>{{member_details.fname}} </p></td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Last Name</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{member_details.lname}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{member_details.relation}}</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{member_details.relative}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Email ID</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{member_details.email}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Date of Birth</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{member_details.date}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Spouse</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{member_details.spouse}}</td>
                        </tr>
                        <tr>
<!--                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Date of Birth</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;"> 01-08-1958	</td>-->
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Wedding Anniversary</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{member_details.date1}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Residential Status</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{member_details.residential_status}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">PAN No</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{member_details.pan}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">PAN Card</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">
                                <a target="_blank" href="{{member_details.pan_filepath}}" data-rel="lightcase"><p class="blue pan-card">View</p></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Prefered Contact No.</b></td>
                            <td>
                                <p class="green">{{member_details.contact}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Prefered contact time </b></td>
                            <td>Between 1800 &amp; 0830 (IST)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 whiteme box-shadow present-address less-padding fix-height respo-details">
        <div class="col-md-12 ">
            <div class="portlet">
                <!-- primary heading -->
                <div class="table-responsive">
                    <table class="table dataTable" role="grid">
                        <caption class="black">PRESENT ADDRESS</caption>
                        <tbody>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;" colspan="2">
                                {{present_address.adrs_line1}}
                            </td>

                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;"> City </td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;"> {{present_address.city}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Postal code	</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{present_address.postal_code}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>Karnataka</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Country</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{present_address.country}}</td>
                        </tr>
                        <tr>
                            <td>Landline No	</td>
                            <td>{{present_address.primary_landline}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Alternate landline No</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;"> {{present_address.secondary_landline}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Mobile No</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;"> {{present_address.primary_mobile}}</td>
                        </tr>
                        <tr>
                            <td>Alternate mobile No</td>
                            <td>{{present_address.secondary_mobile}}</td>
                        </tr>
                        <!--<tr>
                            <td> ID Proof</td>
                            <td><a href="{{backendUploadDir}}{{present_address.id_proofpath}}" data-rel="lightcase"><p class="blue passport">Passport</p></a></td>
                        </tr>-->
                        <tr>
                            <td> Address proof</td>
                            <td>
                                <a target="_blank" href="{{member_details.present_address_proof}}" data-rel="lightcase"><p class="blue adress-proof">View</p></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-5 less-padding workme respo-details">
        <div class="col-md-12 mem-details whiteme box-shadow fix-height">
            <div class="portlet">
                <!-- primary heading -->
                <div class="table-responsive">
                    <table class="table dataTable" role="grid">
                        <caption class="black caps">Work Details</caption>
                        <tbody>
                        <tr>
                            <td> Company Name </td>
                            <td><p>{{work_address.company_name}}</p></td>
                        </tr>
                        <tr>
                            <td>Designation	</td>
                            <td>{{work_address.designation}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{work_address.adrs_line1}}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{work_address.city}}</td>
                        </tr>
                        <tr>
                            <td>Postal code	</td>
                            <td>{{work_address.postal_code}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td> {{work_address.state}}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>{{work_address.country}}</td>
                        </tr>
                        <tr>
                            <td>Telephone No. direct</td>
                            <td>{{work_address.primary_landline}}</td>
                        </tr>
                        <tr>
                            <td> Telephone No. office</td>
                            <td>{{work_address.secondary_landline}}</td>
                        </tr>
                        <tr>
                            <td>  Extension No</td>
                            <td>{{work_address.primary_mobile}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 less-padding pres-addr whiteme box-shadow present-address fix-height respo-details">
        <div class="col-md-12 ">
            <div class="portlet">
                <!-- primary heading -->
                <div class="table-responsive">
                    <table class="table dataTable" role="grid">
                        <caption class="black caps">PERMANENT ADDRESS</caption>
                        <tbody>
                        <tr>
                            <td colspan="2">{{permanent_address.adrs_line1}} </td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{permanent_address.city}}</td>
                        </tr>
                        <tr>
                            <td>Postal code	</td>
                            <td>{{permanent_address.postal_code}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>{{permanent_address.state}}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>{{permanent_address.country}}</td>
                        </tr>
                        <tr>
                            <td>Landline No	</td>
                            <td>{{permanent_address.primary_landline}}</td>
                        </tr>
                        <tr>
                            <td>Alternate landline No</td>
                            <td>{{permanent_address.secondary_landline}}</td>
                        </tr>
                        <tr>
                            <td>Mobile No</td>
                            <td>{{permanent_address.primary_mobile}}</td>
                        </tr>
                        <tr>
                            <td>Alternate mobile No</td>
                            <td>{{permanent_address.secondary_mobile}}</td>
                        </tr>
                        <!--<tr>
                            <td>ID Proof</td>
                            <td><a href="{{backendUploadDir}}{{permanent_address.id_proofpath}}" data-rel="lightcase"><p class="blue">Passport</p></a></td>
                        </tr>-->
                        <tr>
                            <td> Address proof</td>
                            <td>
                                <a target="_blank" href="{{member_details.present_address_proof}}" data-rel="lightcase"><p class="blue adress-proof"> View</p></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<div class="property-links">
    <div class="row">
        <div class="col-md-12  inside-row">
            <div class="col-md-3 col-xs-12" data-ng-repeat="obj in property_address">
                <div class="cont whiteme box-shadow">
                    <header>
                        {{obj.tos}} <br>
                        Property ID: {{obj.name}}<br>
                        Contract Exp.: {{obj.expiry_date}}
                    </header>
                    <div class="prop-name">
                        <a href="members-property-details.html">
                            <h3 class="caps">
                                {{obj.property_name}}
                            </h3>
                        </a>
                        <p> {{obj.furnished_status}}, {{obj.no_bedrooms}} BedRoom</p>
                        <p class="caps"> <b>{{obj.rent_lease}}  </b> </p>
                    </div>
                    <div class="flat-no caps">
                        <span>Flat No. </span> <b class="big"> {{obj.flat_no}} </b> <br>
                        <b class="caps">{{obj.door_facing}},{{obj.block}}</b>
                    </div>
                    <div class="flat-addr ">
                        {{obj.adrs_line1}}
                    </div>
                    <img src="{{obj.banner_image}}">
                    <a href="#/members-property-details/{{obj.id}}">
                        <p class="caps more"> more details </p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
</div>