<!DOCTYPE html>
<div class="wraper container-fluid members-property">
<div class="main-contents">
<div id="head">
    <p id="cap"> Property Details <span id="pid">PID No. <span class="greenme"><b>{{member_property_detail.name}}</b> </span> </span></p>
</div>
<div class="row property-main margin-zero">
    <div class="col-md-12 less-padding">
        <div class="col-md-6 less-padding  first-main-coll">
            <div class="col-md-7 less-padding first-coll">
                <div class="brigade whiteme box-shadow">
                    <section>
                        <h3 class="caps black"> {{member_property_detail.property_name}}</h3>
                        <p id="light">{{member_property_detail.furnished_status}}, {{member_property_detail.no_bedrooms}}Bedroom</p>
                        <h5 class="white caps"> Flat No.  <span>{{member_property_detail.flat_no}} </span><br>{{member_property_detail.door_facing}},{{member_property_detail.block}}</h5>
                        <p>{{member_property_detail.adrs_line1}} </p>
                        <div id="content-2">
                            <p> RR No.: <br> <b>EH 325784 </b></p>
                            <p> Water Meter No.: <br><b>WM 325784 </b></p>
                        </div>
                        <p> Association Contact <br> <strong>{{member_property_detail.incharge_name}}</strong> </p>
                        <p> Mobile: <b>+{{member_property_detail.primary_mobile}} </b></p>
                        <p> Office: <b>+{{member_property_detail.primary_landline}}</b></p>
                    </section>
                </div>
            </div>
            <div class="col-md-5 less-padding second-coll">
                <div class="owner ">
                    <div class="member-name whiteme box-shadow">
                        <p class="caps black">owner </p>
                        <img src="images/kishore.png">
                        <p class="caps name"> {{member_property_detail.fname}}<br>{{member_property_detail.lname}} </p>
                        <p class="number">{{member_property_detail1.owner_phone}}</p>
                        <a href="members-details.html">
                            <p id="space" class="caps more detailed"> More details</p>
                        </a>
                    </div>
                    <div class="member-name whiteme box-shadow">
                        <p class="caps black"> Local contact</p>
                        <img src="images/shiva.png">
                        <p class="caps marg">{{member_property_detail.local_fname}}{{member_property_detail.local_lname}}</p>
                        <p class="number">+{{member_property_detail.local_contact}} </p>
                        <a href="members-local-contact.html">
                            <p class="caps more detailed-2 "> More details</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 less-padding main-sec-coll">
            <div class="col-md-7 less-padding third-coll">
                <div class="images">
                    <a class="gallery-feather" data-rel="lightcase:myCollection" href="images/galr-1.png"><img src="images/galr-1.png"></a>
                    <a class="gallery-feather" data-rel="lightcase:myCollection" href="images/galr-2.png"><img src="images/galr-2.png"></a>
                    <a class="gallery-feather" data-rel="lightcase:myCollection" href="images/galr-3.png"><img src="images/galr-3.png"></a>
                    <a class="gallery-feather" data-rel="lightcase:myCollection" href="images/galr-4.png"><img src="images/galr-4.png"></a>
                </div>
            </div>
            <div class="col-md-5 less-padding fourth-coll">
                <div class="owner">
                    <div class="member-name whiteme box-shadow">
                        <p class="caps black ">Tenant </p>
                        <img src="images/tenant.png">
                        <p class="caps marg">{{member_property_detail.tenent_fname}}{{member_property_detail.tenent_lname}}</p>
                        <p class="number">+{{member_property_detail.tenent_mobile}}</p>
                        <p class="number">+{{member_property_detail.tenent_phone}}</p>
                        <p class="number">{{member_property_detail.email}}</p>
                        <br>
                        <a href="#/tenant-details/{{member_property_detail.member_id}}">
                            <p class="caps more detailed specific"> More details</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 rupee-details less-padding">
                <div class="whiteme box-shadow">
                    <section>
                        <p>Rent <b><span class="WebRupee">Rs.</span>{{member_property_detail.rent_amt}}</b>/m <br>(on {{member_property_detail.collection_day}}th of every month)</p>
                        <p> Deposit<br> <b><span class="WebRupee">Rs.</span>{{member_property_detail.rent_amt}} </b></p>
                        <p> Maintanance<b><span class="WebRupee">Rs.</span>{{member_property_detail.maintain}}</b>/m <br>(on {{member_property_detail1.collection_day}}th of every month)</p>
                    </section>
                </div>
            </div>
            <div class="col-md-12  payme less-padding">
                <div class="whiteme box-shadow">
                    <section>
                        <p><b>Payment Method: </b> <br>Online Transfer</p>
                        <p><b>Rental Agreement: </b><br>({{member_property_detail1.start_date}})-({{member_property_detail1.expiry_date}})</p>
                        <p><b>Yearly Increment: </b><br>{{member_property_detail1.increment_perc}}% of rent</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row property-main">
<div class="col-md-12 ">
    <div class="property-details whiteme box-shadow">
        <h5> <b>Property Details </b></h5>
        <div id="details-one">
            <a>
                <img src="images/icons/bed.png">
                <span>Bedroom  <br>{{member_de.no_bedrooms}} Bedroom </span>
            </a>
            <a>
                <img src="images/icons/bathroom.png">
                <span>Bathroom <br>{{member_de.no_bathrooms}} Bathrooms </span>
            </a>
            <a>
                <img src="images/icons/bed.png">
                <span>Furnished <br>{{member_de.furnished_status}}</span>
            </a>
            <a>
                <img src="images/icons/built-up.png">
                <span>Builtup Area <br>{{member_de.builtup_area}} </span>
            </a>
            <a>
                <img src="images/icons/carpet.png">
                <span> Carpet Area <br>{{member_de.carpet_area}}</span>
            </a>
            <a>
                <img src="images/icons/door.png">
                <span>Door Facing <br>{{member_de.door_facing}} </span>
            </a>
            <a>
                <img src="images/icons/servant.png">
                <span data-ng-if="member_de.no_servant_room>=1"> Servent Room <br> Yes</span>
                <span data-ng-if="member_de.no_servant_room==0"> Servent Room <br> No</span>
            </a>
            <a>
                <img src="images/icons/balcony.png">
                <span> Balconies  <br>{{member_de.no_balconies}} </span>
            </a>
            <a data-ng-repeat="af in member_de.additional_facilities">
                <img src="{{af.icon}}">
                <span> {{af.heading}} <br>{{af.description}}</span>
            </a>

            <a >
                <img src="images/icons/park.png">
                <span> Parking <br></span>
                <div data-ng-repeat="park in member_de.parking">

                       <span> {{park.vehicle_type}}:{{park.no}} </span> ,
                    </div>
            </a>
            <hr>
            <p>Preferred Tenant  </p>
            <a>
                <img src="images/icons/servant.png">
                <span>Tenant Type  <br> {{member_de.tenant.tenant_family_type}} </span>
            </a>
            <a>
                <img src="images/icons/food.png">
                <span>Food Habbits <br> {{member_de.tenant.food_habits}} </span>
            </a>
            <a>
                <img src="images/icons/pet.png">
                <span>Pets <br>{{(member_de.tenant.are_pets_allowed==0)?"Not Allowed":"Allowed"}}</span>
            </a>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="property-details whiteme box-shadow">
        <h5> <b>Amenities </b></h5>
        <div id="details-two">
            <a data-ng-repeat="amen in member_de.amenity">
                <img src="{{amen.icon}}">
                <span>{{amen.amenity}}</span>
            </a>
            <!--<a>
                <img src="images/icons/power.png">
                <span>Power Backup </span>
            </a>
            <a>
                <img src="images/icons/lift.png">
                <span>Elevators </span>
            </a>
            <a>
                <img src="images/icons/swim.png">
                <span>Swimming Pool </span>
            </a>
            <a>
                <img src="images/icons/swim.png">
                <span>Swimming Pool </span>
            </a>
            <a>
                <img src="images/icons/gym.png">
                <span>Gym </span>
            </a>
            <a>
                <img src="images/icons/play.png">
                <span>Play Area </span>
            </a>
            <a>
                <img src="images/icons/club.png">
                <span>Club House </span>
            </a>
            <a>
                <img src="images/icons/tree.png">
                <span>Garden</span>
            </a>
            <a>
                <img src="images/icons/tree.png">
                <span> Garden</span>
            </a>
            <a>
                <img src="images/icons/bed.png">
                <span>Jogging Track</span>
            </a>
            <a>
                <img src="images/icons/tennis.png">
                <span>Tennis Court</span>
            </a>
            <a>
                <img src="images/icons/basket.png">
                <span>BasketBall Court</span>
            </a>
            <a>
                <img src="images/icons/indoor.png">
                <span> Indoor Games</span>
            </a>
            <a>
                <img src="images/icons/bed.png">
                <span>Jogging Track</span>
            </a>
            <a>
                <img src="images/icons/tennis.png">
                <span>Tennis Court</span>
            </a>
            <a>
                <img src="images/icons/basket.png">
                <span>BasketBall Court</span>
            </a>
            <a>
                <img src="images/icons/indoor.png">
                <span> Indoor Games</span>
            </a>-->
        </div>
    </div>
</div>
<div class="row drop-starts">
<div class="col-md-12 whole-content">
<div id="table-content">
<a class="dropme-down-1" data-toggle="collapse" data-target="#collect-info">
    <h5> <b>Collection/Payments Information </b><i class="right plus"></i></h5>
</a>
<div class="table-collect collapse" id="collect-info">
<div class="table-one">
<div class="col-md-4 less-padding">


    <p> Rent Details <input id="year-range" class="right" data-ng-model="year" form-control="" data-date-format="yyyy" type="input"></p>
    <div class="whiteme ">
        <table class="table dataTable" role="grid">
            <tbody>
            <tr data-ng-repeat="obj in collectedRents" >
                <td>{{(obj.formattedDate)?obj.formattedDate:obj.mname}}</td>
                <td>:</td>
                <td><a data-ng-if="obj.formattedDate" target="_blank" href="executive/executive-activity-details-pdf?id={{obj.activity_id}}&pTkn={{pdfSessionToken}}"><span  class="view-it">View</span></a></td>
            </tr>


            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4 less-padding">
    <p> Maintanance Fee Details<input id="year-range" class="right" form-control="" data-date-format="yyyy" type="input"></p>
    <div class=" whiteme">
        <table class="table dataTable" role="grid">
            <tbody>
            <tr data-ng-repeat="obj in collectedRMF">
                <td>{{(obj.formattedDate)?obj.formattedDate:obj.mname}}</td>
                <td>:</td>
                <td><a data-ng-if="obj.formattedDate" target="_blank" href="executive/executive-activity-details-pdf?id={{obj.activity_id}}&pTkn={{pdfSessionToken}}"><span  class="view-it">View</span></a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4 less-padding">
    <p> Electricity Bill Details<input id="year-range" class="right" form-control="" data-date-format="yyyy" type="input"></p>
    <div class="whiteme ">
        <table class="table dataTable" role="grid">
            <tbody>
            <tr data-ng-repeat="obj in collectedEB">
                <td>{{(obj.formattedDate)?obj.formattedDate:obj.mname}}</td>
                <td>:</td>
                <td><a data-ng-if="obj.formattedDate" target="_blank" href="executive/executive-activity-details-pdf?id={{obj.activity_id}}&pTkn={{pdfSessionToken}}"><span  class="view-it">View</span></a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4 less-padding">
    <p> Property Tax Payment<input id="year-range" class="right" form-control="" data-date-format="yyyy" type="input"></p>
    <div class="whiteme" style="height:354px">
        <table class="table dataTable" role="grid">
            <tbody>
            <tr data-ng-repeat="obj in popertyTax">
                <td>{{(obj.formattedDate)?obj.years:obj.mname}}</td>
                <td>:</td>
                <td><a data-ng-if="obj.formattedDate" target="_blank" href="executive/executive-activity-details-pdf?id={{obj.activity_id}}&pTkn={{pdfSessionToken}}"><span  class="view-it">View</span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4 less-padding">
    <p> Property Visit Photos or Videos<input id="year-range" class="right" form-control="" data-date-format="yyyy" type="input"></p>
    <div class=" whiteme">
        <table class="table dataTable" role="grid">
            <tbody>
            <tr data-ng-repeat="obj in collectedEB">
                <td>{{(obj.formattedDate)?obj.formattedDate:obj.mname}}</td>
                <td>:</td>
                <td><a data-ng-if="obj.formattedDate" href="#/propertyVisitedDetails/{{obj.activity_id}}">View</a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4 less-padding one-col">
    <p> Association Meeting<input id="year-range" class="right" form-control="" data-date-format="yyyy" type="input"></p>
    <div class="whiteme ">
        <table class="table dataTable" role="grid">
            <tbody>
            <tr data-ng-repeat="obj in assocMeeting">
                <td>{{(obj.formattedDate)?obj.formattedDate:obj.mname}}</td>
                <td>:</td>
                <td><a data-ng-if="obj.formattedDate" href="#/associationMeetingDetails/{{obj.activity_id}}">View</a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>
<div class="row drop-starts">
    <div class="col-md-12  second-drop">
        <a class="dropme-down-2" data-toggle="collapse" data-target="#service">
            <h5> <b>Service Request Information </b><i class="right plus"></i></h5>
        </a>
        <div class="col-md-12 collapse" id="service">
            <div class="col-md-6 less-padding">
                <div id="member-request">
                    <p>Member Service Request</p>
                    <table class="table dataTable" role="grid">
                        <tbody>
                        <tr>
                            <td>Painting Work</td>
                            <td>24/01/2015</td>
                            <td>Pending</td>
                        </tr>
                        <tr>
                            <td>Birth Certificates</td>
                            <td>24/08/2015</td>
                            <td>In Progress</td>
                        </tr>
                        <tr>
                            <td>Electric Work</td>
                            <td>27/05/2015</td>
                            <td>Complited</td>
                        </tr>
                        <tr>
                            <td>Minor Renovation</td>
                            <td>13/06/2015</td>
                            <td>Complited</td>
                        </tr>
                        <tr>
                            <td>Plumbing Work</td>
                            <td>15/07/2015</td>
                            <td>Complited</td>
                        </tr>
                        <tr>
                            <td>Plumbing Work</td>
                            <td>15/07/2015</td>
                            <td>Complited</td>
                        </tr>
                        <tr>
                            <td>Electric Work</td>
                            <td>21/08/2015</td>
                            <td>Complited</td>
                        </tr>
                        <tr>
                            <td>Carpentry Work</td>
                            <td>15/07/2015</td>
                            <td>Complited</td>
                        </tr>
                        <tr>
                            <td>Plumbing Work</td>
                            <td>21/08/2015</td>
                            <td>Complited</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6 less-padding">
                <div id="tenant-request">
                    <p>Tenant Service Request</p>
                    <table class="table dataTable" role="grid">
                        <tbody>
                        <tr>
                            <td>Painting Work</td>
                            <td>24/01/2015</td>
                            <td>Pending</td>
                        </tr>
                        <tr>
                            <td>Birth Certificates</td>
                            <td>24/08/2015</td>
                            <td>In Progress</td>
                        </tr>
                        <tr>
                            <td>Electric Work</td>
                            <td>27/05/2015</td>
                            <td>Complited</td>
                        </tr>
                        <tr>
                            <td>Minor Renovation</td>
                            <td>13/06/2015</td>
                            <td>Complited</td>
                        </tr>
                        <tr>
                            <td>Plumbing Work</td>
                            <td>15/07/2015</td>
                            <td>Complited</td>
                        </tr>
                        <tr>
                            <td>Plumbing Work</td>
                            <td>15/07/2015</td>
                            <td>Complited</td>
                        </tr>
                        <tr>
                            <td>Electric Work</td>
                            <td>21/08/2015</td>
                            <td>Complited</td>
                        </tr>
                        <tr>
                            <td>Carpentry Work</td>
                            <td>15/07/2015</td>
                            <td>Complited</td>
                        </tr>
                        <tr>
                            <td>Plumbing Work</td>
                            <td>21/08/2015</td>
                            <td>Complited</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>