<link rel="stylesheet" type="text/css" href="value-home/general/css/lightcase.css">
<script type="application/javascript" ng-src="value-home/general/js/lightcase.js"></script>
<div class="wraper container-fluid property-style">
    <div class="visit-details">
        <div class="row ">
            <div class="col-md-12 visit-content">
                <div class="portlet">

                    <div class="head pictures">
                        <div class="col-md-12 dates">
                            <div class="col-md-4 december">
                                <p class="black"> <span> <b>{{month}} </b></span><span class="date-time"> {{day}}</span> </p>
                            </div>
                            <div class="col-md-8">
                                <p class="black indium-lake"> <b>{{property.puname}} </b> {{property.locality}}  <br>{{property.block}} , {{property.flat_no}} </p>
                              Visited / Live Feed Done : {{photos[0].transaction_no}}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="pictures gallery-starts">
                        <div class="col-md-12 actual-pics ">
                            <div class="col-md-9" id="property-gallery">
                                <!-- Carousel -->

                                <carousel interval="myInterval">
                                    <slide ng-repeat="slide in photos" active="slide.active">
                                        <img ng-src="{{serverAPIAdrs}}uploads/{{slide.file_path}}">

                                    </slide>
                                </carousel>


                                <a data-ng-repeat="obj in photos" class="smaller gallery-feather" data-rel="lightcase:myCollection" data-ng-href="{{serverAPIAdrs}}uploads/{{obj.file_path}}"><img data-ng-src="{{serverAPIAdrs}}uploads/{{obj.file_path}}"></a>
                                  </div>
                            <div class="col-md-3 black comments">
                                <h4 class="caps"> Comments:</h4>
                                <p>
                                    {{comments}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="videos">
                        <h3>Videos</h3>
                        <div data-ng-repeat="vid in videos">
                            <div data-ng-bind-html="(vid.file_path)"></div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

        <script>

        </script>