<div class="wraper container-fluid property-style">
<div class="row property-visit">
<div class="col-lg-12">
    <div class="portlet">
        <p id="cap">Property Visit</p>
        <!-- Date Picker-->
        <div class="range-pciker dropdown">
            <input aria-expanded="false" id="fulldate" data-ng-model="dateRangeDisplay" name="date" data-toggle="dropdown" placeholder="Select Date" type="text">
            <div class="dropdown-menu">
                <input id="datepicker" datepickerjui data-ng-model="from_date" class="range " type="text">&nbsp;&nbsp;-
                <input id="datepicker2" datepickerjui data-ng-model="to_date"  class="range " type="text">
                <button type="button"  data-ng-click="dateRangeChange()"  id="apply"> Apply </button>
                <button type="button"  data-ng-click="dateRangeCancel()"  id="cancel"> cancel </button>
            </div>
        </div>
        <!-- End of Date Picker-->
        <!-- primary heading -->
        <div class="table-responsive">
            <table class="table dataTable" role="grid">
                <thead>
                <tr>
                    <th>Property ID</th>
                    <th>Property Name</th>
                    <th>Property Type </th>
                    <th>Location</th>
                    <th>Tenant Name</th>
                    <th> Visiting Date</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="ot in propertyVisitList" >
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.puname}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.pname}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.locality}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.tname}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.formatedDate}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.type}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
                        <p data-ng-click="collectNowClick(ot.id,$event,ot.actstat)" class="coll-now property-upload">Upload Now </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-lg-12 paid-details" style="margin-top: 3%;">
    <div class="portlet">
        <p id="cap">Property Visited</p>
        <!-- primary heading -->
        <div class="table-responsive">
            <table class="table dataTable" role="grid">
                <thead>
                <tr>
                    <th>Property ID</th>
                    <th>Property Name</th>
                    <th>Property Type </th>
                    <th>Location</th>
                    <th>Tenant Name</th>
                    <th> Visiting Date</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr  data-ng-repeat="ot in propertyVisitedList" >
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.puname}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.pname}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.locality}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.tname}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.formatedDate}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{ot.type}}</td>
                    <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
                        <a href="#/propertyVisitedDetails/{{ot.id}}" >
                            <p  class="view ">View Details </p>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<!-- Form Starts -->
<div class="form-starts">
    <!-- Form Starts -->
    <form>
        <div data-ng-show="showUploadForm" style="" class="form property-style-from">
            <div class="form-content">
                <header class="caps">
                    <p> Photo/Video Uploads  <i data-ng-click="showUploadForm=false" class="ion-ios-close-empty  "> </i></p>
                </header>
                <div class="form-body">
                    <div class="form-body-content">
                        <div class="buttons ">
                            <span id="bill-up"><input file-model="billUploadFiles" multiple accept="image/x-png, image/gif, image/jpeg"  tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" id="filestyle-0" class="filestyle deposit billing caps" data-classbutton="btn btn-primary" data-input="false" data-classicon="icon-plus" data-buttontext=" Photo Upload" type="file"><div class="bootstrap-filestyle input-group"><span tabindex="0" class="group-span-filestyle "><label for="filestyle-0" class="btn btn-default "><span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> <span class="buttonText"> Photo Upload</span></label></span></div></span>
<!--
                            <span id="slip-up"><input file-model="slipUploadFiles" multiple accept="video/*" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" id="filestyle-1" class="filestyle deposit billing caps" data-classbutton="btn btn-primary" data-input="false" data-classicon="icon-plus" data-buttontext=" Video Upload" type="file"><div class="bootstrap-filestyle input-group"><span tabindex="0" class="group-span-filestyle "><label for="filestyle-1" class="btn btn-default "><span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> <span class="buttonText"> Video Upload</span></label></span></div></span>
-->

                            <div>
                            <label>Visited / Live Feed Done:</label>
                            <label><input type="radio" data-ng-model="visitStatus" value="Yes" />Yes</label>
                            <label><input type="radio" data-ng-model="visitStatus" value="NO" />NO</label>
                            </div>
                            <div><span style="cursor: pointer" data-ng-click="addVidUrls()" class=" glyphicon glyphicon-plus"></span> </div>

                            <input data-ng-model="vidUrls[$index]" data-ng-repeat="vids in vidUrls track by $index"  type="text"  style="font-size: 12px;padding: 8px 4px 7px 11px;width: 286px;margin-top:3px" width="100%"  placeholder="Video Url" />

                            <div class="pro-bar-container color-green-sea">
                                <div style="width: {{uploadProgressValue}}%; overflow: hidden;" class="pro-bar bar-100 color-turquoise animated" data-pro-bar-percent="68"><span id="progressing">{{uploadProgressValue}}% </span>
                                    <div class="pro-bar-candy candy-ltr"></div>
                                </div>
                            </div>
                        </div>



                        <div class="comments">

                            <textarea data-ng-model="comments" placeholder="Comments/Remarks "></textarea>
                        </div>
                        <button type="button" data-ng-click="save()" class="submiting caps"> Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Form Ends-->
<!-- end col -->
</div>