<div class="wraper container-fluid " style="position: absolute;left:0;top:0;background: #32323a;font-family: 'Lato', sans-serif;;width: 100%;z-index:10001;height:1000px">

    <link rel="stylesheet" href="value-home/general/css/reciept.css" />
<div class="reciept" style="top:10%;" >
    <div class="starts">
        <header>
            <img id="logo"  src="value-home/general/images/logo-black.png"/>
            <h3 class="caps red bold">{{type}} <br> Payment Reciept </h3>
            <table>
                <tbody>
                <tr>
                    <td>No.</td>
                    <td>&nbsp; <input type="input" data-ng-model="txn_no" value=""> </input></td>
                </tr>
                <tr>
                    <td>Date:</td>
                    <td >&nbsp; <input type="input" datepickerjui data-ng-model="date" value=""></td>
                </tr>
                </tbody>
            </table>
        </header>
        <div class="receipt-content">
            <p>Recieved with thanks from: <input type="input" data-ng-model="tenant_name" value=""> </input></p>
            <p>Behalf of Member (Owner): <input type="input" data-ng-model="member_name" value=""> </input></p>
            <p> The Sum of Rs.<input type="input" data-ng-model="amount"  value=""> </input></p>
            <p > In words rupees<input type="input" data-ng-model="words" value=""> </input></p>
            <p >Mode of Payment by <input id="mode-of-pay" data-ng-model="mode" type="input" value="Cheque/DD*"> </input>
                <span data-ng-if="receiptMode=='Cheque'||receiptMode=='Card'||receiptMode=='Online'">
                    {{xanxLabel}}<input id="transaction"type="input" data-ng-model="cheque_no" value=""> </input>
                    <span class="right">Date:<input id="trans-date"type="input" data-ng-model="cheque_date" value=""> </input></span>
                </span>
            </p>
            <p>
                <span data-ng-if="receiptMode=='Cheque'||receiptMode=='Online'||receiptMode=='Card'">
                    {{bankLabel}} <input  id="card" type="text" data-ng-model="bank" value=""></input>
                    <span data-ng-if="receiptMode=='Cheque'||receiptMode=='Card'" > {{branchLabel}} <input id="branch"type="input" data-ng-model="branch" value=""> </input></span>
                </span>
            <div class="sign-area">
                <img id="barcode"src="value-home/general/images/barcode.png"/>
                <p> *Cheque or DD's are subjected to realization<br>
                    E. & O.E. Subject to Bangalore jurisdiction
                </p>
                <p> Authorized Signature</p>
            </div>
        </div>
    </div>
</div>

<div class="receipt-edit" style="top:57%">
    <button type="button" class="caps" data-ng-click="back()" id="modify">Modify </button>
    <button type="button" class="caps" data-ng-click="submit()">Accept </button>
</div>

</div>
		