<!DOCTYPE html>
<div class="wraper container-fluid request-style">
    <div class="chat-box">
        <!--Start of Messages -->
        <div class="subject">
            <!-- Subject -->
            <div class="sub-head">
                <p class="meet-details"> Property ID:<b> {{mstr_detail.puname}} </b></p>
                <p class="meet-details"> Request ID: <b> {{mstr_detail.request_id}}</b> </p>
                <p class="meet-details"> Requested on: <b>{{conversation[0].created_date}}</b></p>
                <p class="meet-details"> Proposed Cost: <b>&#8377;{{conversation[0].proposed_cost}}</b></p>
                <p class="meet-details"> Accepted Cost: <b>&#8377;{{conversation[0].accepted_cost}}</b></p>
                <p class="meet-details"> Accepted Date: <b>{{conversation[0].formatedStartDate}}</b></p>
                <p class="meet-details"> Final Cost: <b>&#8377;{{conversation[0].final_cost}}</b></p>

                <div data-ng-show="acceptedStatus">Accepted {{conversation[0].formatedStartDate}} </div>

                <div data-ng-show="!acceptedStatus">
                <button type="button" data-ng-show="user_type=='Executive'"  class="btn btn-primary" data-ng-click="costEntryBool=true">Executive Approval</button>
                <button type="button" data-ng-show="user_type=='Individual'" data-ng-click="memberApprove()" data-ng-disabled="!mstr_detail.executive_approval" class="btn btn-primary">
                    {{(!mstr_detail.executive_approval)?"Yet to be approved by executive":"Member Approve"}}
                </button>

                <div data-ng-show="costEntryBool"  class="thumbnail">
                    <input  style="padding-left: 20px" data-ng-model="accepted_cost" placeholder="Negotiated Cost"  />
                    <input  style="padding-left: 20px" datepickerjui data-ng-model="accepted_date" placeholder="Date"  />
                    <button type="button" class="btn btn-primary" data-ng-click="costSubmit()">Submit</button>
                    <button type="button" class="btn btn-primary" data-ng-click="costEntryBool=false">Cancel</button>
                </div>




                </div>
                <button type="button" data-ng-show="user_type=='Executive'&& acceptedStatus && !conversation[0].completed_date"  data-ng-click="compEntryBool=true" class="btn btn-primary" >Complete it</button>

                <div data-ng-show="conversation[0].completed_date">Completed</div>
                <div data-ng-show="compEntryBool">
                    <input  style="padding-left: 20px" data-ng-model="final_cost" placeholder="Final Cost"  />
                    <input  style="padding-left: 20px" datepickerjui data-ng-model="completed_date" placeholder="Date"  />
                    <button type="button" class="btn btn-primary" data-ng-click="completeSubmit()">Submit</button>

                </div>

            </div>
            <div class="content">
                <p> <b>Subject: </b> &nbsp; &nbsp; &nbsp;{{mstr_detail.name}}.  </p>
                <p>  <b> Request: </b> 	&nbsp; &nbsp; &nbsp;{{mstr_detail.description}}</p>
            </div>
        </div>
        <div class="chat-mess"  >
            <!-- chatting -->

            <div data-ng-repeat="chat in conversation" >
            <div class="mem-reply" data-ng-if="chat.client_name||chat.tenant_name">
                <div class="replied-on">
                    <p>Replied On <span>{{replyTimeFormat(chat.created_on)}} </span></p>
                </div>
                <div class="mem-mess" >
                    <figure>
                        <img id="user" src="images/Ravindra-Jain.png">
                        <figcaption >{{chat.client_name}}{{chat.tenant_name}}</figcaption>
                    </figure>
                    <p>{{chat.message}}</p>
                </div>
            </div>
            <div class="exe-reply" data-ng-if="chat.executive_name">
                <div class="replied-on">
                    <p>Replied On <span>{{replyTimeFormat(chat.created_on)}} </span></p>
                </div>
                <div class="exe-mess">
                    <figure>
                        <img src="images/krishna.jpg">
                        <figcaption>{{chat.executive_name}}</figcaption>
                    </figure>
                    <p>{{chat.message}} </p>
                </div>
            </div>
            </div>

            <div class="type-here" id="typeHere">
                <style>
                    textarea.chat-input{
                        border: none;
                        width: 85%;
                        padding-left: 1.7%;
                        border-bottom: 1px solid #9e9e9e;

                        margin-right: 2%
                    }
                    .mem-mess,.exe-mess{
                        overflow: auto;
                    }
                </style>
                <textarea class="chat-input" cols="3"  data-ng-model="message"></textarea>

                <span data-ng-click="sendMessage()"><img src="value-home/general/images/send.png"></span>
                     <span id="attach">
					 <label for="file-input">
                         <img src="value-home/general/images/attach.png">
                     </label>
					 <input id="file-input" file-model="uploadFiles" type="file">
					 </span>
            </div>
        </div>
    </div>
    <!-- End of Messages -->
</div>