<!DOCTYPE html>
<div class="wraper container-fluid request-style">
<div class="row requests">
    <div class="col-lg-12">
        <div class="portlet">
            <!-- primary heading -->
            <p id="cap"> Members Requests </p>
            <div class="table-responsive">
                <!-- Date Picker-->
                <div class="range-pciker dropdown">
                    <input aria-expanded="false" data-ng-model="dateRangeDisplay" id="fulldate" name="date" data-toggle="dropdown" placeholder="Select Date" type="text">
                    <div class="dropdown-menu">
                        <input id="datepicker" datepickerjui data-ng-model="from_date" class="range " type="text">&nbsp;&nbsp;-
                        <input id="datepicker2" datepickerjui data-ng-model="to_date" class="range " type="text">
                        <button type="button" data-ng-click="dateRangeChange()" id="apply"> Apply </button>
                        <button type="button"  data-ng-click="dateRangeCancel()"  id="cancel"> cancel </button>
                    </div>
                </div>
                <!-- End of Date Picker-->
                <!-- table data -->
                <table class="table dataTable" role="grid">
                    <thead>
                    <tr>
                        <th>Property ID</th>
                        <th>Members Name</th>
                        <th>Contact No.</th>
                        <th>Requested Date</th>
                        <th>Request ID</th>
                        <th>Requests</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="obj in entries">
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{obj.puname}}</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{obj.mname}}</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{obj.contact}}</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{obj.formatedDate}}</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{obj.request_id}}</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">{{obj.name}}</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
                            <a href="#/requestDetail/{{obj.id}}"><p data-ng-if="obj.progress=='In Progress'" class="in-prog">{{obj.progress}}</p></a>
                            <a href="#/requestDetail/{{obj.id}}"><p data-ng-if="obj.progress=='Accepted'" class="not-start">{{obj.progress}}</p></a>
                            <a href="#/requestDetail/{{obj.id}}"><p data-ng-if="obj.progress=='Completed'" class="reply-now">{{obj.progress}}</p></a>
                            <a href="#/requestDetail/{{obj.id}}"><p data-ng-if="obj.progress=='Negotiating'" class="not-start">{{obj.progress}}</p></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- End row -->
<br>
<div class="row requests">
    <div class="col-lg-12">
        <div class="portlet">
            <!-- primary heading -->
            <p id="cap"> Tenants Requests </p>
            <div class="table-responsive">
                <!-- Date picker
                   <input type="text" id="datepicker"> </input>

                   <input type="text" id="datepicker1"> </input -->
                <!-- table data -->
                <table class="table dataTable" role="grid">
                    <thead>
                    <tr>
                        <th>Property ID</th>
                        <th>Tenant Name</th>
                        <th>Contact No.</th>
                        <th>Requested Date</th>
                        <th>Request ID</th>
                        <th>Requests</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>#TM-95321</td>
                        <td>Ravindra Jain</td>
                        <td>98452 35487</td>
                        <td>09/09/2015</td>
                        <td>TR-95323</td>
                        <td>Birth Certificates</td>
                        <td>
                            <a href="request-in-progress.html"><p class="in-prog">In Progress</p></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">#TM-95321</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">Kumar K</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">94578 32568</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">01/08/2015</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">TR-95324</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;" class="alert">Electric Work</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
                            <a href="Request-message.html"> <p class="reply-now">Reply Now</p></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">#TM-95321</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">Mahesh B H</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">73548 32154</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">06/09/2015</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">TR-95325</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">Plumbing</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
                            <a href="request-in-progress.html"><p class="in-prog">In Progress</p></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">#TM-95321</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">Rakesh Roshan</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">87452 12339</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">25/08/2015</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">TR-95327</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;" class="alert">Painting</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
                            <a href="request-no-started.html"><p class="not-start">Not Started </p></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">#TM-95321</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">Md. Rafi</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">74658 98562</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">31/08/2015</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">TR-95328</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">Electric Work</td>
                        <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
                            <a href="request-in-progress.html"><p class="in-prog">In Progress</p></a>
                        </td>
                    </tr>
                    <tr>
                        <td>#TM-95321</td>
                        <td>Laxmikanth P</td>
                        <td>98765 41236</td>
                        <td>10/08/2015</td>
                        <td>TR-95329</td>
                        <td class="alert">Carpentry</td>
                        <td>
                            <a href="Request-message.html"> <p class="reply-now">Reply Now</p></a>
                        </td>
                    </tr>
                    <tr>
                        <td>#TM-95321</td>
                        <td>Anand Bakshi</td>
                        <td>85296 69853</td>
                        <td>18/09/2015</td>
                        <td>TR-95329</td>
                        <td>Electric Work</td>
                        <td>
                            <a href="request-in-progress.html"><p class="in-prog">In Progress</p></a>
                        </td>
                    </tr>
                    <tr>
                        <td>#TM-95321</td>
                        <td>O P Naiyyar</td>
                        <td>74568 57854</td>
                        <td>19/09/2015</td>
                        <td>TR-95330</td>
                        <td class="alert"> Tank Cleaning</td>
                        <td>
                            <a href="request-no-started.html"><p class="not-start">Not Started </p></a>
                        </td>
                    </tr>
                    <tr>
                        <td>#TM-95321</td>
                        <td>Rahul Dev Burman</td>
                        <td>98541 22001</td>
                        <td>19/09/2015</td>
                        <td>TR-95331</td>
                        <td>Carpentry</td>
                        <td>
                            <a href="request-in-progress.html"><p class="in-prog">In Progress</p></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>

<!-- End row -->
</div>