<!DOCTYPE html>
<div class="wraper container-fluid tenant-style-2">
<div class="members ">
<div class="row">
    <p id="cap"> Tenant details</p>
    <div class="col-md-2 whiteme box-shadow respo-name less-padding">
        <div class="member-name ">
            <p class="caps sundaraj">A sundaraj </p>
            <img src="images/tenant.png">
        </div>
    </div>
    <div class="col-md-5 whiteme box-shadow respo-details less-padding fix-height">
        <div class="col-md-12">
            <div class="portlet">
                <!-- primary heading -->
                <div class="table-responsive">
                    <table class="table dataTable" role="grid">
                        <caption class="black">Present ADDRESS</caption>
                        <tbody>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;" colspan="2">
                                {{tenant_details.present_address}}
                            </td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;"> City </td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;"> {{tenant_details.present_address_city}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Postal code	</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{tenant_details.present_address_postal_code}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">State</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{tenant_details.present_address_state}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Country</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{tenant_details.present_address_country}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Landline No	</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{tenant_details.present_address_primary_landline}}</td>
                        </tr>
                        <tr>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">Alternate landline No</td>
                            <td style="background: none repeat scroll 0% 0% rgb(255, 255, 255); cursor: context-menu;">{{tenant_details.present_address_sec_landline}}</td>
                        </tr>
                        <tr>
                            <td>Mobile No</td>
                            <td>{{tenant_details.present_address_pri_mobile}}</td>
                        </tr>
                        <tr>
                            <td>Alternate mobile No</td>
                            <td>{{tenant_details.present_address_sec_mobile}}</td>
                        </tr>

                        <tr>
                            <td> Present address proof</td>
                            <td>
                                <a href="{{tenant_details.address_proof_path}}" data-rel="lightcase"><p class="blue adress-proof">View</p></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 whiteme box-shadow respo-details less-padding fix-height table-a">
        <div class="col-md-12">
            <div class="portlet">
                <!-- primary heading -->
                <div class="table-responsive">
                    <table class="table dataTable" role="grid">
                        <caption class="black caps">tenant verfication details</caption>
                        <tbody>
                        <tr>
                            <td> Name  </td>
                            <td> A Sundararaj </td>
                        </tr>
                        <tr>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>Basic Verification	</td>
                            <td><a href="images/passport.jpg" data-rel="lightcase"><p class="blue passport">View</p></a></td>
                        </tr>
                        <tr>
                            <td>Full Verification</td>
                            <td>
                                <a href="images/Pan-Card.jpg" data-rel="lightcase"><p class="blue pan-card">View</p></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Police Verification</td>
                            <td><a href="images/passport.jpg" data-rel="lightcase"><p class="blue passport">View</p></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 less-padding">
        <div class=" ">
        </div>
    </div>
    <div class="col-md-5 whiteme respo-details box-shadow fix-height">
        <div class="col-md-12">
            <div class="portlet">
                <!-- primary heading -->
                <div class="table-responsive">
                    <table class="table dataTable" role="grid">
                        <caption class="black caps">PERMANENT ADDRESS</caption>
                        <tbody>
                        <tr>
                            <td colspan="2">{{tenant_details.perm_address}}</td>
                        </tr>
                        <tr>
                            <td> City</td>
                            <td>  {{tenant_details.perm_city}}</td>
                        </tr>
                        <tr>
                            <td>Postal code	</td>
                            <td>{{tenant_details.perm_postal_code}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>{{tenant_details.perm_state}}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>{{tenant_details.perm_country}}</td>
                        </tr>
                        <tr>
                            <td>Landline No	</td>
                            <td>{{tenant_details.perm_pri_landline}}</td>
                        </tr>
                        <tr>
                            <td>Alternate landline No</td>
                            <td>{{tenant_details.perm_sec_landline}}</td>
                        </tr>
                        <tr>
                            <td>Mobile No</td>
                            <td>{{tenant_details.perm_pri_mobile}}</td>
                        </tr>
                        <tr>
                            <td>Alternate mobile No</td>
                            <td>{{tenant_details.perm_sec_mobile}}</td>
                        </tr>
                        <tr>
                            <td>ID Proof</td>
                            <td>{{tenant_details.id_proof_path}}</td>
                        </tr>
                        <tr>
                            <td> Address proof</td>
                            <td>
                                <a href="{{tenant_details.id_proof_path}}" data-rel="lightcase"><p class="blue adress-proof">View</p></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 respo-details whiteme box-shadow workme less-padding fix-height">
        <div class="col-md-12">
            <div class="portlet">
                <!-- primary heading -->
                <div class="table-responsive">
                    <table class="table dataTable" role="grid">
                        <caption class="black caps">Work Details</caption>
                        <tbody>
                        <tr>
                            <td> Company Name </td>
                            <td><p>{{tenant_details.company}}</p></td>
                        </tr>
                        <tr>
                            <td>Designation	</td>
                            <td>{{tenant_details.designation}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{tenant_details.off_address}}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{tenant_details.off_city}}</td>
                        </tr>
                        <tr>
                            <td>Postal code	</td>
                            <td>{{tenant_details.off_postal_code}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td> {{tenant_details.off_state}}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>{{tenant_details.off_country}}</td>
                        </tr>
                        <tr>
                            <td>Telephone No. direct</td>
                            <td>{{tenant_details.off_pri_landline}}</td>
                        </tr>
                        <tr>
                            <td> Telephone No. office</td>
                            <td>{{tenant_details.off_sec_landline}}</td>
                        </tr>
                        <tr>
                            <td>Extension No</td>
                            <td>{{tenant_details.off_pri_mobile}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 less-padding">
        <div class=" ">
        </div>
    </div>
    <div class="col-md-5 whiteme respo-details box-shadow less-padding fix-height">
        <div class="col-md-12">
            <div class="portlet">
                <!-- primary heading -->
                <div class="table-responsive">
                    <table class="table dataTable" role="grid">
                        <caption class="black">TENANT DETAILS</caption>
                        <tbody>
                        <tr>
                            <td> First Name </td>
                            <td>{{tenant_details.fname}}</td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>{{tenant_details.lname}}</td>
                        </tr>
                        <tr>
                            <td>{{tenant_details.relation}} </td>
                            <td>{{tenant_details.relative}}</td>
                        </tr>
                        <tr>
                            <td>Email ID</td>
                            <td>{{tenant_details.email_id}}</td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>{{tenant_details.dob}}</td>
                        </tr>
                        <tr>
                            <td>Marital Status</td>
                            <td> {{tenant_details.marital_status}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>{{tenant_details.off_pri_mobile}}</td>
                        </tr>
                        <tr>
                            <td>Spouse Name</td>
                            <td>{{tenant_details.spouse}}</td>
                        </tr>
                        <tr>
                            <td>Wedding Anniversary</td>
                            <td>{{tenant_details.wed_ann}}</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                        </tr><tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Prefered Contact No.</b></td>
                            <td><p class="green">{{tenant_details.present_address_primary_landline}}</p></td>
                        </tr>
                        <tr>
                            <td><b>Prefered contact time </b></td>
                            <td>Between 1800 &amp; 0830 (IST)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 whiteme respo-details box-shadow less-padding fix-height">
        <div class="col-md-12">
            <div class="portlet">
                <!-- primary heading -->
                <div class="table-responsive">
                   <!-- <table class="table dataTable" role="grid">
                        <caption class="black caps">Local address</caption>
                        <tbody>
                        <tr>
                            <td colspan="2">No.2-C Sahajeevan, Apartments, 219, Rajmahal Vilas Extension </td>
                        </tr>
                        <tr>
                            <td> City</td>
                            <td>  Bangalore</td>
                        </tr>
                        <tr>
                            <td>Postal code	</td>
                            <td>560 001</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>Karnataka</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>Landline No	</td>
                            <td>2346 2356</td>
                        </tr>
                        <tr>
                            <td>Alternate landline No</td>
                            <td>080 2356 2346</td>
                        </tr>
                        <tr>
                            <td>Mobile No</td>
                            <td>+91 98745 63210</td>
                        </tr>
                        <tr>
                            <td>Alternate mobile No</td>
                            <td>+91 97952 95389</td>
                        </tr>
                        <tr>
                            <td> Present Address proof</td>
                            <td>
                                <a href="images/address.jpg" data-rel="lightcase"><p class="blue adress-proof">View</p></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>-->
                </div>
            </div>
        </div>
    </div>
</div>
<br> <br>
<div class="row tenant-rent">
    <div class="col-md-2 less-padding respo-2">
    </div>
    <div class="col-md-5 less-padding respo-21">
        <div class="metro" data-ng-repeat="ten_d in tenant_rent_details">
            <div class="metro-in whiteme box-shadow">
                <div class="metro-cont" >
                    <h3 class="caps black">{{ten_d.name}}</h3>
                    <div class="furnished">
                        <p class="font-16">{{ten_d.no_bedrooms}} BHK, {{ten_d.furnished_status}} </p>
                        <img src="images/galr-1.png">
                        <p class="font-12 caps"> Flat No. {{ten_d.flat_no}}<br> {{ten_d.door_facing}}, {{ten_d.block}}</p>
                    </div>
                    <p> {{ten_d.adrs_line1}}<br>{{ten_d.city}}<br>{{ten_d.postal_code}}<br>{{ten_d.state}}<br>{{ten_d.country}}</p>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-repeat="rent_td in tenant_rent_details" class="col-md-5 paddingme less-padding respo-21" style="margin-left: 1px;">
        <div class="col-md-12 rent-details whiteme box-shadow fix-height">
            <div class="rent-cont">
                <div class="portlet">
                    <!-- primary heading -->
                    <div class="table-responsive" >
                        <table class="table dataTable" role="grid">
                            <caption class="black caps">Rent Details</caption>
                            <tbody>
                            <tr>
                                <td> Monthly Rent</td>
                                <td><span class="WebRupee">Rs.</span>{{rent_td.rent_amt}}</td>
                            </tr>
                            <tr>
                                <td>Maintenance Fee</td>
                                <td><span class="WebRupee">Rs.</span>{{rent_td.maintenance}}</td>
                            </tr>
                            <tr>
                                <td>Deposit Amount</td>
                                <td><span class="WebRupee">Rs.</span>{{rent_td.advance}}</td>
                            </tr>
                            <tr>
                                <td>Date of Payment</td>
                                <td>{{rent_td.collection_day}}th of every month</td>
                            </tr>
                            <tr>
                                <td>Payment Method</td>
                                <td>Online Transfer</td>
                            </tr>
                            <tr>
                                <td>Rent Agreement</td>
                                <td> Months ({{rent_td.st_date}} - {{rent_td.exp_date}})</td>
                            </tr>
                            <tr>
                                <td>Yearly Increment</td>
                                <td>{{rent_td.increment_perc}}% of rent amount</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr>
                                </td>

                            </tr>
                            <tr>
                                <td>Tenant Type</td>
                                <td>{{rent_td.tenant_family_type}}</td>
                            </tr>
                            <tr>
                                <td> Members</td>
                                <td>{{rent_td.no_people}} </td>
                            </tr>
                            <tr>
                                <td> Food Habits</td>
                                <td> {{rent_td.food_habits}}</td>
                            </tr>
                            <tr>
                                <td> Pets</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td> Known Languages</td>
                                <td> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       <!-- <div class="col-md-12 rent-details whiteme box-shadow less-padding fix-height">
            <div class="rent-cont">
                <div class="portlet">
                    &lt;!&ndash; primary heading &ndash;&gt;
                    <div class="table-responsive">
                        <table class="table dataTable" role="grid">
                            <caption class="black caps">Rent Details</caption>
                            <tbody>
                            <tr>
                                <td> Monthly Rent</td>
                                <td> <span class="WebRupee">Rs.</span>1,00,000</td>
                            </tr>
                            <tr>
                                <td>Maintenance Fee</td>
                                <td><span class="WebRupee">Rs.</span>4,000</td>
                            </tr>
                            <tr>
                                <td>Deposit Amount</td>
                                <td><span class="WebRupee">Rs.</span>10,00,000</td>
                            </tr>
                            <tr>
                                <td>Date of Payment</td>
                                <td>5th of every month</td>
                            </tr>
                            <tr>
                                <td>Payment Method</td>
                                <td>Online Transfer</td>
                            </tr>
                            <tr>
                                <td>Rent Agreement</td>
                                <td>11 Months (Sept 2014 - Aug 2015)</td>
                            </tr>
                            <tr>
                                <td>Yearly Increment</td>
                                <td>5% of rent amount</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr>
                                </td>

                            </tr>
                            <tr>
                                <td>Tenant Type</td>
                                <td>Office</td>
                            </tr>
                            <tr>
                                <td> Industry</td>
                                <td>IT </td>
                            </tr>
                            <tr>
                                <td> Food Habits</td>
                                <td> Non-vegetarian</td>
                            </tr>
                            <tr>
                                <td> Pets</td>
                                <td> 1 Dog, 1 Cat</td>
                            </tr>
                            <tr>
                                <td> Known Languages</td>
                                <td> Kannada, English, Hindi, Telugu, Tamil, Malayalam</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>-->

    </div>
</div>
</div>
<br>

</div>