<div class="wraper container-fluid travel-style">
    <div class="row tenant-width">
        <div class="col-lg-12" style="box-shadow: none;">
            <div class="portlet">
                <!-- primary heading -->
                <p id="cap">Travel Details</p>
                <!-- Date Picker-->
                <div class="range-pciker dropdown" >
                    <input id="fulldate" name="date" data-ng-model="nowDate" data-toggle="dropdown" placeholder="Select Date" type="text">
                    <div class="dropdown-menu" style="display: none">
                        <input id="datepicker" class="range hasDatepicker" type="text">&nbsp;&nbsp;-
                        <input id="datepicker2" class="range hasDatepicker" type="text">
                        <button type="button" id="apply"> Apply </button>
                        <button type="button" id="cancel"> cancel </button>
                    </div>
                </div>
                <!-- End of Date Picker-->
                <div class="table-responsive">
                    <!-- table data -->
                    <table class="table dataTable" id="travel_details_table" role="grid">
                        <thead>
                        <tr>
                            <th>From Location</th>
                            <th>To Location</th>
                            <th>Purpose</th>
                            <th>Distance [Km]</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  data-ng-repeat="ot in travelDetailsList track by $index">
                            <td><input  data-ng-click="inputClick($index)" data-ng-model="ot.from_location"  value="" type="text"></td>
                            <td><input data-ng-click="inputClick($index)" data-ng-model="ot.to_location" value="" type="text"></td>
                            <td><input data-ng-click="inputClick($index)" data-ng-model="ot.purpose" value="" type="text"></td>
                            <td><input data-ng-click="inputClick($index)"  data-ng-model="ot.distance" value="" type="text"></td>
                        </tr>


                        </tbody>
                    </table>
                    <table class="add-table" role="grid">
                        <tbody>
                        <tr>
                            <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;"></td>
                            <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;"></td>
                            <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;"></td>
                            <td style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
                                <div class="add-button todo-send">
                                    <button data-ng-disabled="!unsavedDetail" class="btn-success btn-block btn" data-ng-click="addRow()" type="button" id="todo-btn-submit">
                                        <i class="ion-plus-round"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modify">
                    <button type="button" data-ng-click="save()" data-ng-disabled="!enableSaveButton" id="save"> Save </button>
                    <button type="button" data-ng-click="save()" data-ng-disabled="!enableModifyButton" id="modify"> Modify</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>