<html ng-app="app">
<head>
    <link href="value-home/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="value-home/general/css/bootstrap-reset.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.js"></script>
    <style>
        .wrap > .container {
            padding: 70px 15px 20px;
        }
    </style>
</head>
<body ng-controller="MainController">
<div class="wrap">
    <nav class="navbar-inverse navbar-fixed-top navbar" role="navigation" bs-navbar>
        <div class="container">
            <div class="navbar-header">
                <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#/">My Company</a>
            </div>
            <div ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true" class="collapse navbar-collapse" >
                <ul class="navbar-nav navbar-right nav">
                    <li data-match-route="/$">
                        <a href="#/">Home</a>
                    </li>
                    <li data-match-route="/about">
                        <a href="#/about">About</a>
                    </li>
                    <li data-match-route="/contact">
                        <a href="#/contact">Contact</a>
                    </li>
                    <li data-match-route="/dashboard" ng-show="loggedIn()" class="ng-hide">
                        <a href="#/dashboard">Dashboard</a>
                    </li>
                    <li ng-class="{active:isActive('/logout')}" ng-show="loggedIn()" ng-click="logout()"  class="ng-hide">
                        <a href="">Logout</a>
                    </li>
                    <li data-match-route="/login" ng-hide="loggedIn()">
                        <a href="#/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div ng-view>
        </div>
    </div>

</div>

<footer class="footer">
    <div class="container">
        <p class="pull-left">&copy; <a href="http://www.vhp.com">VHP</a> 2015</p>
        <p class="pull-right">Powered by <a href="http://www.medieslabs.com/" rel="external">Medies Labs</a></p>
    </div>
</footer>
<script src="js/controllers.js"></script>

<script src="js/app.js"></script>
</body>
</html>