<!DOCTYPE html>
<html  ng-app="app">
<head lang="en" >
    <meta charset="UTF-8">
    <title>VHP</title>
    <link href="value-home/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.js"></script>
</head>
<body ng-controller="LoginController" id="logindiv">

<style>
    #logindiv{
        background-color: #d3d3d3;
         margin:3%;
    }
    @media only screen and (min-device-width: 1024px)  {
        #logindiv{
            position: fixed;
            top:0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 1031;
            background-color: #d3d3d3;

        }
        #logindiv .col-lg-5{
            left: 30%;
            top: 100px
        }
    }



</style>
<div class="row" >
    <div class="col-lg-5">
        <h1>Login</h1>

        <p>Please fill out the following fields to login:</p>
        <form ng-submit="login()" name="loginForm" id="login-form" method="post" role="form" >
            <div ng-class="{ 'has-success': !error['username'] && submitted,
                'has-error': error['username'] && submitted }"
                 class="form-group field-loginform-username required">
                <label class="control-label" for="loginform-username">Username</label>
                <input ng-model="userModel.username" type="text" id="loginform-username" class="form-control">
                <p class="help-block help-block-error">{{ error['username'] }}</p>
            </div>

            <div ng-class="{ 'has-success': !error['password'] && submitted,
                'has-error': error['password'] && submitted }"
                 class="form-group field-loginform-password required">
                <label class="control-label" for="loginform-password">Password</label>
                <input ng-model="userModel.password" type="password" id="loginform-password" class="form-control">
                <p class="help-block help-block-error">{{ error['password'] }}</p>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="login-button">Login</button>
            </div>

        </form>
    </div>
</div>
<script>
    'use strict';
    var app = angular.module('app', []);
    app.controller('LoginController', ['$scope', '$http', '$window', '$location',
        function($scope, $http, $window, $location) {
            $scope.login = function () {
                $scope.submitted = true;
                $scope.error = {};
                console.log($scope.userModel);
                $http.post('executive/login', $scope.userModel).success(
                        function (data) {
                            $window.sessionStorage.access_token = data.access_token;

                           // $location.path('/dashboard').replace();
                            window.location.assign(data.home)
                        }).error(
                        function (data) {
                            angular.forEach(data, function (error) {
                                $scope.error[error.field] = error.message;
                            });
                        }
                );
            };
        }
    ]);
</script>
</body>
</html>