<!DOCTYPE html>
<html>
<head>
    <title>Property Search</title>
    <link rel="stylesheet" href="value-home/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/property-search.css"/>
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/redmond/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.8.2/css/jquery.dataTables.css">

     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <!-- DataTables --> <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.8.2/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>


</head>
<body>
<section class="container" id="page">
    <h2>VHP Property Search</h2>

    <div ng-app="tableExample">
        <div ng-controller="Ctrl">
            <button ng-click="addData()">Search</button>
            Builder:
            <input ng-model="builder" />
            Type:<input ng-model="type" />
            Name:<input ng-model="name" />
            Address:<textarea ng-model="address" ></textarea>
            <br/>
            <label><input type="checkbox" ng-model="rent" >Rent</label>
            <label><input type="checkbox" ng-model="lease" >Lease</label>
            <label><input type="checkbox" ng-model="sale" >Sale</label>
            <label><input type="checkbox" ng-model="advertised" >Advertised</label>
            <label><input type="checkbox" ng-model="featured" >featured</label>
            <table my-table options="options" width="100%"></table>
        </div>
    </div>

</section>

<script>
    var serverAPIAdrs="/vhp1/vhp/frontend/web/";

    var dialogApp = angular.module('tableExample', []);

    dialogApp.directive('myTable', function () {
        return {
            restrict: 'E, A, C',
            link: function (scope, element, attrs, controller) {
                var dataTable = element.dataTable(scope.options);

                scope.$watch('options.aaData', handleModelUpdates, true);

                function handleModelUpdates(newData) {
                    var data = newData || null;
                    if (data) {
                        dataTable.fnClearTable();
                        dataTable.fnAddData(data);
                    }
                }
            },
            scope: {
                options: "="
            }
        };
    });

    function Ctrl($scope,$http) {
        $scope.options = {
            aoColumns: [{
                "mDataProp": "name",
                "sTitle": "Property Name"
            }, {
                "mDataProp": "type",
                "sTitle": "Property Type"
            },
                {
                    "mDataProp": "builder",
                    "sTitle": "Builder Name"
                },
                {
                    "mDataProp": "rentorsale",
                    "sTitle": "Rent/Sale"
                },
                {
                    "mDataProp": "advertised",
                    "sTitle": "Advertised"
                },
                {
                    "mDataProp": "featured",
                    "sTitle": "Featured"
                },
            ],
            aoColumnDefs: [{
                "bSortable": false,
                "aTargets": [0, 1]
            }],
            bJQueryUI: true,
            bDestroy: true,
            aaData: [

            ]
        };

       
        $scope.addData = function () {
           /* $scope.counter = $scope.counter + 1;
            $scope.options.aaData.push([$scope.counter, $scope.counter * 2]);*/
            var $queryString={
                "name":"",
                "type":"",
                "builder":"",
                "advertised":"",
                "featured":"",
                "price":"",
                "rent":"",
                "lease":"",
                "sale":""
            };

            $queryString.name=($scope.name)?$scope.name:"";
                    $queryString.type=($scope.type)?$scope.type:"";
                    $queryString.builder=($scope.builder)?$scope.builder:"",
                    $queryString.advertised=($scope.advertised)?$scope.featured:"",
                    $queryString.featured=($scope.featured)?$scope.featured:"",
                    $queryString.price="",
                    $queryString.rent=($scope.rent)?$scope.rent:"",
                    $queryString.lease=($scope.lease)?$scope.lease:"",
                    $queryString.sale=($scope.sale)?$scope.sale:"";
            $queryString.address=($scope.address)?$scope.address:"";
            $http.post(serverAPIAdrs+'property/propertylist',$queryString).success(function (data) {
               if(typeof data.success!="undefined"){
                   alert(data.message);
                   return;
               }
                $scope.options.aaData=data;


            });

        };

        $scope.counter = 0;
    }
</script>
</body>
</html>
