<!DOCTYPE html>
<html>
<head>
    <title>Property Search</title>
    <link rel="stylesheet" href="value-home/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/property-search.css"/>
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/redmond/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.8.2/css/jquery.dataTables.css">

     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <!-- DataTables --> <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.8.2/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>


</head>
<body>
<section class="container" id="page">
    <h2>VHP Property Search</h2>

    <div ng-app="tableExample">
        <div ng-controller="Ctrl">
            <button ng-click="addData()">Search</button>
           <!-- Builder:
            <input ng-model="builder" />
            Type:<input ng-model="type" />
            Name:<input ng-model="name" />
            Address:<textarea ng-model="address" ></textarea>
            <br/>-->
            Locality:<input ng-model="locality" />
            <label><input type="checkbox" ng-model="rent" >Rent</label>
            <label><input type="checkbox" ng-model="lease" >Lease</label>
            <label><input type="checkbox" ng-model="sale" >Sale</label>
            <label><input type="checkbox" ng-model="advertised" >Advertised</label>
            <label><input type="checkbox" ng-model="featured" >featured</label>

            <!--begin:new criteria based on screen-->
            <div class="row" >
                <h3>Residential</h3>
                <div>
                    <label><input type="checkbox" ng-model="flat" >Flat</label>
                    <label><input type="checkbox" ng-model="villa" >villa</label>
                    <label><input type="checkbox" ng-model="independent_house" >independent house</label>
                    <label><input type="checkbox" ng-model="row_house" >row house</label>
                    <label><input type="checkbox" ng-model="guest_house" >guest house</label>
                    <label><input type="checkbox" ng-model="bhk1" >1 bhk</label>
                    <label><input type="checkbox" ng-model="bhk2" >2 bhk</label>
                    <label><input type="checkbox" ng-model="bhk3" >3 bhk</label>
                    <label><input type="checkbox" ng-model="bhk4" >4 bhk</label>
                    <label><input type="checkbox" ng-model="bhkg4" >>4 bhk</label>

                </div>
            </div>

            <div class="row" >
                <h3>Commercial</h3>
                <div>
                    <label><input type="checkbox" ng-model="office_space" >office_space</label>
                    <label><input type="checkbox" ng-model="shop_showroom" >shop showroom</label>
                    <label><input type="checkbox" ng-model="warehouse_godown" >warehouse godown</label>
                    <label><input type="checkbox" ng-model="hotel_resturant" >hotel_resturant</label>
                    <label><input type="checkbox" ng-model="commercial_plot_land" >commercial_plot_land</label>
                    <label><input type="checkbox" ng-model="industrial_building_shed" >industrial_building_shed</label>


                </div>
            </div>

            <div class="row" >
                <h3>others</h3>
                <div>
                    <label><input type="checkbox" ng-model="agriculture_land" >agriculture_land</label>
                    <label><input type="checkbox" ng-model="farm_house" >farm_house</label>
                    <label><input type="checkbox" ng-model="resort" >resort</label>
                </div>
            </div>

            <div class="row" >
                <h3>budget</h3>
                <div>
                    Min:<input type="number" step="0" ng-model="budget_min" value="0" />
                    Max:<input ng-model="budget_max" value="999999" />
                </div>
            </div>

            <div class="row" >
                <h3>Door Facing</h3>
                <div>
                    <label><input type="checkbox" ng-model="door_facing_east" >East Facing</label>
                    <label><input type="checkbox" ng-model="door_facing_west" >West Facing</label>
                    <label><input type="checkbox" ng-model="door_facing_north" >North Facing</label>
                    <label><input type="checkbox" ng-model="door_facing_south" >South Facing</label>
                </div>
            </div>

            <div class="row" >
                <h3>Parking</h3>
                <div>
                    <label><input type="checkbox" ng-model="parking41" >Parking 4-1</label>
                    <label><input type="checkbox" ng-model="parking42" >Parking 4-2</label>
                    <label><input type="checkbox" ng-model="parking43" >Parking 4-3</label>
                    <label><input type="checkbox" ng-model="parking44" >Parking 4-4</label>
                    <label><input type="checkbox" ng-model="parking21" >Parking 2-1</label>
                    <label><input type="checkbox" ng-model="parking22" >Parking 2-2</label>
                    <label><input type="checkbox" ng-model="parking23" >Parking 2-3</label>

                </div>
            </div>

            <div class="row" >
                <h3>Built Area</h3>
                <div>
                    Min:<input type="number" step="0" ng-model="builtuparea_min" value="0" />
                    Max:<input ng-model="builtuparea_max" value="999999" />
                </div>
            </div>

            <div class="row" >
                <h3>Furnished Status</h3>
                <div>
                    <label><input type="checkbox" ng-model="fully_furnished" >Fully Furnished</label>
                    <label><input type="checkbox" ng-model="semi_furnished" >Semi Furnished</label>
                    <label><input type="checkbox" ng-model="un_furnished" >Un Furnished</label>
                </div>
            </div>


            <div class="row" >
                <h3>Availability</h3>
                <div>
                    <label><input type="checkbox" ng-model="ready_to_move" >Ready to move</label>
                    <label><input type="checkbox" ng-model="within_a_week" >Within a week</label>
                    <label><input type="checkbox" ng-model="within_2_weeks" >Within 2 weeks</label>
                    <label><input type="checkbox" ng-model="within_3_weeks" >Within 3 weeks</label>
                    <label><input type="checkbox" ng-model="within_a_month" >Within a Month</label>
                </div>
            </div>


            <div class="row" >
                <h3>Pets</h3>
                <div>
                    <label><input type="checkbox" ng-model="pets_yes" >Pets Yes</label>
                    <label><input type="checkbox" ng-model="pets_no" >Pets No</label>
                </div>
            </div>


            <div class="row" >
                <h3>vegetarian</h3>
                <div>
                    <label><input type="checkbox" ng-model="vegetarian" >Vegetarian</label>
                    <label><input type="checkbox" ng-model="non_vegetarian" >Non-Vegetarian</label>
                </div>
            </div>

            <div class="row" >
                <h3>Amenities</h3>
                <div>
                    <label><input type="checkbox" ng-click="toggleSelection('Power Backup')" >Power Backup</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Club House')" >Club House</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Swimming Pool')" >Swimming Pool</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Barbeque deck')" >Barbeque deck</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Kids Pool')" >Kids Pool</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Gymnasium')" >Gymnasium</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Billiards')" >Billiards</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Squash Court')" >Squash Court</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Multi Sports Court')" >Multi Sports Court</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Video Game Zone')" >Video Game Zone</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Party Lawn')" >Party Lawn</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Multipurpose Hall')" >Multipurpose Hall</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Indoor Games')" >Indoor Games</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Convenience Store')" >Convenience Store</label>
                    <label><input type="checkbox" ng-click="toggleSelection('Jogging Track')" >Jogging Track</label>
                    <label  ><input type="checkbox" ng-click="toggleSelection('Children\'s play area')"  >Children's play area</label>
                </div>
            </div>
            <a ng-href='#here' ng-click='go()' >click me</a>

            <div class="row" >
                <h3>Limit</h3>
                <div>
                    offset:<input type="number" step="0" ng-model="offset" value="0" />
                    page size:<input ng-model="page_size" value="10" />
                </div>
            </div>

            <!--end:new criteria based on screen-->

            <table my-table options="options" width="100%"></table>



        </div>
    </div>

</section>

<script>
    var serverAPIAdrs="/vhp1/vhp/frontend/web/";

    var dialogApp = angular.module('tableExample', []);

    dialogApp.directive('myTable', function () {
        return {
            restrict: 'E, A, C',
            link: function (scope, element, attrs, controller) {
                var dataTable = element.dataTable(scope.options);

                scope.$watch('options.aaData', handleModelUpdates, true);

                function handleModelUpdates(newData) {
                    var data = newData || null;
                    if (data) {
                        dataTable.fnClearTable();
                        dataTable.fnAddData(data);
                    }
                }
            },
            scope: {
                options: "="
            }
        };
    });

    function Ctrl($scope,$http) {
        $scope.options = {
            aoColumns: [{
                "mDataProp": "name",
                "sTitle": "Property Name"
            }, {
                "mDataProp": "type",
                "sTitle": "Property Type"
            },
                {
                    "mDataProp": "builder",
                    "sTitle": "Builder Name"
                },
                {
                    "mDataProp": "rentorsale",
                    "sTitle": "Rent/Sale"
                },
                {
                    "mDataProp": "advertised",
                    "sTitle": "Advertised"
                },
                {
                    "mDataProp": "featured",
                    "sTitle": "Featured"
                },
            ],
            aoColumnDefs: [{
                "bSortable": false,
                "aTargets": [0, 1]
            }],
            bJQueryUI: true,
            bDestroy: true,
            aaData: [

            ]
        };

        $scope.budget_min=0;
        $scope.budget_max=9999999;
        $scope.builtuparea_min=0;
        $scope.builtuparea_max=9999999;
        $scope.page_size=10;
        $scope.offset=0;
        $scope.locality='';


        $scope.selection =[];
        $scope.toggleSelection = function toggleSelection(fruitName) {
            var idx = $scope.selection.indexOf(fruitName);

            // is currently selected
            if (idx > -1) {
                $scope.selection.splice(idx, 1);
            }

            // is newly selected
            else {
                $scope.selection.push(fruitName);
            }

            console.log($scope.selection);
        };

       
        $scope.addData = function () {
           /* $scope.counter = $scope.counter + 1;
            $scope.options.aaData.push([$scope.counter, $scope.counter * 2]);*/
            var $queryString={
                "name":"",
                "type":"",
                "builder":"",
                "advertised":"",
                "featured":"",
                "price":"",
                "rent":"",
                "lease":"",
                "sale":""
            };

            $queryString.name=($scope.name)?$scope.name:"";
            $queryString.type=($scope.type)?$scope.type:"";
            $queryString.builder=($scope.builder)?$scope.builder:"",
                    //alert($scope.advertised);
            $queryString.advertised=($scope.advertised)?$scope.advertised:"",
            $queryString.featured=($scope.featured)?$scope.featured:"",
            $queryString.price="",
            $queryString.rent=($scope.rent)?$scope.rent:"",
            $queryString.lease=($scope.lease)?$scope.lease:"",
            $queryString.sale=($scope.sale)?$scope.sale:"";


            $queryString.address=($scope.address)?$scope.address:"";


            $queryString.flat=($scope.flat)?$scope.flat:"";
            $queryString.villa=($scope.villa)?$scope.villa:"";
            $queryString.independent_house=($scope.independent_house)?$scope.independent_house:"";
            $queryString.row_house=($scope.row_house)?$scope.row_house:"";
            $queryString.guest_house=($scope.guest_house)?$scope.guest_house:"";
            $queryString.bhk1=($scope.bhk1)?$scope.bhk1:"";
            $queryString.bhk2=($scope.bhk2)?$scope.bhk2:"";
            $queryString.bhk3=($scope.bhk3)?$scope.bhk3:"";
            $queryString.bhk4=($scope.bhk4)?$scope.bhk4:"";
            $queryString.bhkg4=($scope.bhkg4)?$scope.bhkg4:"";




            $queryString.office_space=($scope.office_space)?$scope.office_space:"";
            $queryString.shop_showroom=($scope.shop_showroom)?$scope.shop_showroom:"";
            $queryString.warehouse_godown=($scope.warehouse_godown)?$scope.warehouse_godown:"";
            $queryString.hotel_resturant=($scope.hotel_resturant)?$scope.hotel_resturant:"";
            $queryString.commercial_plot_land=($scope.commercial_plot_land)?$scope.commercial_plot_land:"";
            $queryString.industrial_building_shed=($scope.industrial_building_shed)?$scope.industrial_building_shed:"";



            $queryString.agriculture_land=($scope.agriculture_land)?$scope.agriculture_land:"";
            $queryString.farm_house=($scope.farm_house)?$scope.farm_house:"";
            $queryString.resort=($scope.resort)?$scope.resort:"";

            $queryString.budget_min=($scope.budget_min);
            $queryString.budget_max=($scope.budget_max);


            $queryString.door_facing_east=($scope.door_facing_east)?$scope.door_facing_east:"";
            $queryString.door_facing_west=($scope.door_facing_west)?$scope.door_facing_west:"";
            $queryString.door_facing_north=($scope.door_facing_north)?$scope.door_facing_north:"";
            $queryString.door_facing_south=($scope.door_facing_south)?$scope.door_facing_south:"";

            $queryString.parking4=($scope.parking4)?$scope.parking4:"";
            $queryString.parking41=($scope.parking41)?$scope.parking41:"";
            $queryString.parking42=($scope.parking42)?$scope.parking42:"";
            $queryString.parking43=($scope.parking42)?$scope.parking43:"";
            $queryString.parking44=($scope.parking42)?$scope.parking44:"";

            $queryString.parking2=($scope.parking2)?$scope.parking2:"";
            $queryString.parking21=($scope.parking21)?$scope.parking21:"";
            $queryString.parking22=($scope.parking22)?$scope.parking22:"";
            $queryString.parking23=($scope.parking22)?$scope.parking23:"";

            //alert($scope.budget_max);
            $queryString.builtuparea_min=($scope.builtuparea_min);
            $queryString.builtuparea_max=($scope.builtuparea_max);


            $queryString.fully_furnished=($scope.fully_furnished)?$scope.fully_furnished:"";
            $queryString.semi_furnished=($scope.semi_furnished)?$scope.semi_furnished:"";
            $queryString.un_furnished=($scope.un_furnished)?$scope.un_furnished:"";

            $queryString.ready_to_move=($scope.ready_to_move)?$scope.ready_to_move:"";
            $queryString.within_2_weeks=($scope.within_2_weeks)?$scope.within_2_weeks:"";
            $queryString.within_3_weeks=($scope.within_3_weeks)?$scope.within_3_weeks:"";
            $queryString.within_a_month=($scope.within_a_month)?$scope.within_a_month:"";
            $queryString.within_a_week=($scope.within_a_week)?$scope.within_a_week:"";

            $queryString.pets_yes=($scope.pets_yes)?$scope.pets_yes:"";
            $queryString.pets_no=($scope.pets_no)?$scope.pets_no:"";

            $queryString.vegetarian=($scope.vegetarian)?$scope.vegetarian:"";
            $queryString.non_vegetarian=($scope.non_vegetarian)?$scope.non_vegetarian:"";
            //$queryString.amenities=$scope.selection ;

            $queryString.offset=($scope.offset);
            $queryString.page_size=($scope.page_size);


            //alert($scope.locality);
            //alert($queryString.budget_max);





            $http.get(serverAPIAdrs+'property/propertylist',{
                params: $queryString
            }).success(function (data) {
               if(typeof data.success!="undefined"){
                   alert(data.message);
                   return;
               }
                $scope.options.aaData=data;


            });

        };

        $scope.counter = 0;
    }
</script>
</body>
</html>
