<div class="wraper container-fluid">
<div class="row">
<div class="col-md-12 " style="background-color: #FFF">

   <!-- begin:form-->
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Request Services</legend>



            <!-- Select Basic -->
            <div
                 ng-class="{ 'has-success': !error['name'] && submitted,
                'has-error': error['name'] && submitted }"
                 class="form-group required"     >
                <label class="col-md-4 control-label" for="selectbasic">Service Request Type</label>
                <div class="col-md-4">
                    <select id="selectbasic" ng-model="rsa.name"  name="selectbasic" class="form-control">
                    <option value="">Select</option>
                        <option
                                ng-repeat="item in rst"
                                value="{{item.rs}}">
                            {{item.name}}
                        </option>
                    </select>
                </div>
                <p class="help-block help-block-error">{{ error['name'] }}</p>
            </div>

            <!-- Textarea -->
            <div  ng-class="{ 'has-success': !error['description'] && submitted,
                'has-error': error['description'] && submitted }" class="form-group">
                <label class="col-md-4 control-label" for="textarea">Description</label>
                <div class="col-md-4">
                    <textarea class="form-control" ng-model="rsa.description" name="textarea"></textarea>
                </div>
                <p class="help-block help-block-error">{{ error['description'] }}</p>

            </div>

            <!-- Text input-->
            <!--<div ng-class="{ 'has-success': !error['start_date'] && submitted,
                'has-error': error['start_date'] && submitted }" class="form-group">
                <label class="col-md-4 control-label"  for="textinput">Probable Start Date</label>
                <div class="col-md-4">
                    <input calendar ng-model="rsa.start_date" name="textinput" placeholder="Start Date" class="form-control input-md" required="" type="text">
                </div>
                <p class="help-block help-block-error">{{ error['start_date'] }}</p>
            </div>-->

            <!-- Text input-->
            <div ng-class="{ 'has-success': !error['end_date'] && submitted,
                'has-error': error['end_date'] && submitted }" class="form-group">
                <label class="col-md-4 control-label"  for="textinput"> Date</label>
                <div class="col-md-4">

                    <input id="textinput" calendar ng-model="rsa.end_date" name="textinput" placeholder="Finish Date" class="form-control input-md" required="" type="text">
                </div>
                <p class="help-block help-block-error">{{ error['end_date'] }}</p>

            </div>

            <!-- Text input-->
            <div ng-class="{ 'has-success': !error['proposed_cost'] && submitted,
                'has-error': error['proposed_cost'] && submitted }" class="form-group">
                <label class="col-md-4 control-label"  for="textinput">Proposed Cost</label>
                <div class="col-md-4">
                    <input id="textinput" ng-model="rsa.proposed_cost" name="textinput" placeholder="Cost" class="form-control input-md" required="" type="text">
                </div>
                <p class="help-block help-block-error">{{ error['proposed_cost'] }}</p>

            </div>


            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" ng-click="sendRequest()" type="button" name="singlebutton" class="btn btn-success btn-block">Submit</button>
                </div>
            </div>

        </fieldset>
    </form>

    <!-- end:form-->

</div>
</div>
</div>