<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12 panel-box" >
            <h3>Request Service View</h3>
            <hr/>
            <!-- begin:content-->

            <table class="table  table-striped">
                <tbody>
                <tr>
                    <th>Detail</th>
                    <td><a href="#/requestDetail/{{rsa.id}}">{{rsa.property}}</a></td>
                </tr>

            <tr>
                <th>Property</th>
                <td>{{rsa.property}}</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{{rsa.name}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{rsa.description}}</td>
            </tr>
            <tr>
                <th> Finish Date</th>
                <td>{{rsa.fdate}}</td>
            </tr>
            <tr>
                <th>Executive</th>
                <td>{{rsa.executive}}</td>
            </tr>

            <tr>
                <th> Proposed Total Cost</th>
                <td>{{rsa.proposed_cost}}</td>
            </tr>
            <tr>
                <th>Negotiated Cost</th>
                <td>{{rsa.accepted_cost}}</td>
            </tr>
            <tr>
                <th> Admin approval</th>
                <td>{{rsa.adminaprv}}</td>
            </tr>
            <tr>
                <th> Final Approval</th>
                <td>{{rsa.finalaprv}}</td>
            </tr>
            <tr>
                <th> Is Payable?</th>
                <td ng-if="rsa.is_payable==1">Yes</td>
                <td ng-if="rsa.is_payable==0">No</td>
            </tr>

            <tr>
                <th> Status</th>
                <td>{{rsa.fstatus}}</td>
            </tr>
                </tbody>
            </table>

            <!-- end:form-->

            <button ng-if="rsa.status==1 && rsa.owner" data-ng-click="approve()" type="btn btn-primary">Approve</button>
        </div>
    </div>
</div>